<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
      <title>Hyperacidity</title>
      <!--Google font integration for nestimatic head-->
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <nav>
            <div class="nav-wrapper purple">
              <a href="#" class="brand-logo center">Hyperacidity</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="collapsible.html">Dr. Health Cart</a></li>
              </ul>
            </div>
          </nav>
                

      <div class="myactivitybutton"> 
          
          <a href="#" id="signinbutton" class="waves-effect white black-text btn"><i class="material-icons left">account_box</i>Sign-In with Google</a>
        
      </div>
        <br>
      <div class="mycard">
          <div class="col s12 m7">
              <div class="card horizontal purple">
                  <div class="card-image">
                      <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                          <p class="mainsize">Cure your acidity with Dr. Health Cart !</p>
                        </div>
                    </div>
    
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              <b>Stiffness in the stomach : </b> 
                            </li> <br>
                            <li>
                              <b>Lack of appetite: </b>
                            </li><br>
                            <li>
                              <b>Constipation : </b> 
                            </li><br>
                            <li>
                              <b>Indigestion : </b>
                             </li><br>
                             <li>
                                <b>Sour belching : </b> </li>
                             <li>
                                <b>Actual vomiting: </b> </li>
                             <li>
                                <b>Feeling of restlessness: </b> </li>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                       <div class="card-content black-text">
                            <span class="card-title" style="color: orangered"> <b> Causes :</b> </span>
                            <ol>
                              <li> 
                                <b>In Ayurvedic Acidity treatment, the main cause is considered to be the aggravation of Pitta Dosha in the body. Pitta is an Ayurvedic humor that symbolizes heat or fire.  </b> 
                              </li> <br>
                              <li>
                                <b>Pitta is an Ayurvedic humor that symbolizes heat or fire. There are many causes for the aggravation of Pitta, main among them are: Eating foods that do not suit the constitution or foods that should not be taken together (milk and fish, milk and salt), excessively sour or spicy foods and liquids, white flour products and white sugar products, smoking and excessive consumption of tea, coffee and alcohol, eating in a state of indigestion, suppressing urges of urination and stool, sleeping in the daytime after meals, staying awake late into the night, excessive stress, anger and hunger, excessive exposure to sun and heat and gastro-duodenal ulcer. </b>
                              </li><br>
                              <li>
                                <b>All of these causes along with assistive diagnosis provided by drheath treatment protocol engine, are considered by our doctor to provide precise, root-cause Acidity treatment to the patient. </b> 
                              </li><br>
                            </ol>
                      </div>
                    </div>
                </div>
         
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            Take powder of roasted cumin and coriander seeds (25 gm each) and mix with 50 gm of sugar. Take half spoon of it 3 times a day to get rid of hyperacidity.             
                            </li><br>
                            <li>
                                Make a powdered mixture of equal parts of rock candy (or unrefined sugar), fennel, and green cardamom. Whenever you feel heartburn, mix 1 teaspoon of the mixture in a glass of cold milk and drink.
                          </li><br>

                          <li>
                                Drink 100-500 ml of tender coconut water twice a day for relief from hyperacidity Mix equal parts of powdered fennel, licorice root, basil leaves and coriander seeds. Have ½ teaspoon of this mixture with ½ teaspoon of powdered rock candy (or unrefined sugar) 15 minutes before lunch and dinner. 
                          </li> 
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text"><!-- Ayurvedic Hyperacidity Treament -->
                          <span class="card-title">Ayurvedic Hyperacidity Treament :</span> <br>
                          <ol>
                            <li>
                                 <b> Hyperacidity is known as Amlapitta in Ayurveda (Amla means sour and Pitta means heat). Hyperacidity therefore is a condition characterized by an increase of sourness and heat in the body. </b>            
                            </li><br>
                            <li>
                                 <b> The aggravated Pitta impairs the digestive fire, leading to improper digestion of food and production of ama (toxins). This ama gets accumulated in the digestive channels and causes Hyperacidity.</b>
                            </li><br>
                            <li>
                                <b>Acidity treatment in Ayurveda is focused on pacifying the aggravated Pitta Dosha. Cleansing herbs are also administered to eliminate toxins from the body and cleanse the channels. This automatically enhances the digestive fire, leading to better digestion.</b> 
                            </li>    
                          </ol>
                        </div>
                      </div>
                    </div>
                   
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit">  
                                <i class="material-icons small right">business_center</i>
                                Our health Packages</button>
                              
                              <button class="packeageit"> 
                                  <i class="material-icons small right">call</i> Online Consultation 
                                </button>

                                <button class="packeageit"> 
                                    <i class="material-icons small right">shopping_cart</i>  
                                      Buy Products</button>
        
                          </center>

                      <center>
                          <button class="packeageit">
                              <i class="material-icons small right">add_box</i>  
                            Our Clinics</button>
  
                      </center>      
                          <ul>
                            <li>
                              <b> 
                            </li>
                            <br>
                            <li>
                              <b>&nbsp;Free 10% discount : </b> 
                              &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                            </li>
                            <br>
                            <li>
                                <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                            </li>
                            <li>
                                <b>&nbsp;Along with the medicine kit, we are going to provide you with some additional things which is beneficial for you.</b>
                                <ul>
                                  <li>&nbsp;DIET PLAN </li>
                                  <li>&nbsp;YOG & EXCERSICE GUIDE</li>
                                </ul> 
                            </li>
                          </ul>
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to cure their diseases which is <b>Completely based on Ayurved</b>. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          <b>You can click below link to visit our website ..</b>
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/"> <b>  www.drhealthcart.com</b> </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
      
</div>
      <div class="header">
          <p> <i>drhealthcart.com</i> </p>
        </div>      
       
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=acidity;";
    window.location.href = "/auth/google?destination=acidity";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=acidity;";
    window.location.href = "/auth/google?destination=acidity";    
      })

      
    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>