<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
      <title>Diabetes</title>
      <!--Google font integration for nestimatic head-->
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <nav>
            <div class="nav-wrapper purple">
              <a href="#" class="brand-logo center">Diabetes</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="collapsible.html">Dr. Health Cart</a></li>
              </ul>
            </div>
          </nav>
                

      <div class="myactivitybutton"> 
          
          <a href="#" id="signinbutton" class="waves-effect white black-text btn"><i class="material-icons left">account_box</i>Sign-In with Google</a>
        
      </div>
        <br><br><br>
      <div class="mycard">
          <div class="col s12 m7">
              <div class="card horizontal purple">
                  <div class="card-image">
                      <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                          <p class="mainsize">Restore your hair health with Dr. Health Cart !</p>
                        </div>
                    </div>
    
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              <b>Polyuria : </b> increased urination
							  </li> <br>
                            <li>
                              <b>Polyphagia : </b> excessive appetite
							  </li><br>
                            <li>
                              <b>Polydyspia : </b> excessive thirst
							  </li><br>
                            <li>
                              <b>Unusual weight loss or weight gain </b> 
							  </li><br>
                             <li>
                               <b>Fatigue </b>
							  </li><br> 
							  <li>
                               <b>Nausea, perhaps vomiting </b>
							  </li><br> 
							  <li>
                               <b>Blurred vision </b>
							  </li><br> 
							  <li>
                               <b>In women, frequent vaginal infections </b>
							  </li><br> 
							  <li>
                               <b>In men and women, yeast infections </b>
							  </li><br> 
							  <li>
                               <b>Dry mouth </b>
							  </li><br> 
							  <li>
                               <b>Slow-healing of sores or cuts in the skin / mucosa </b>
							  </li><br> 
							  <li>
                               <b>Itching of the skin, especially in the region of groin or genitals Complications </b>
							  </li>
							   </ol>
                    </div>
                  </div>
                </div>



                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Complication occurring due to diabetes  :</b> </span>
                        <ol>
                          <li>
                            <b>Acute complications : </b> 
							<ul>
							<li>Diabetic ketoacidosis (DKA)</li>
							<li>Hyperglycemia hyperosmolar state</li>
							<li>Hypoglycemia</li>
							<li>Diabetic coma</li>
							<li>Respiratory infections</li>
							</ul>
						  </li><br>
						  <li>
                            <b>Periodontal disease Chronic complications : </b> 
							<ul>
							<li>Physical disabilities</li>
							<li>Cognitive decline</li>
							<li>Retinopathy</li>
							<li>Macroangiopathy</li>
							<li>Neuropathy</li>
							<li>Nephropathy</li>
							</ul>
						  </li>
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>


				  <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> TREATMENT :</b> </span>
                        <ol>
                          <li>
                            Ayurveda emphasized that the first and foremost principle of prevention as well as the treatment of any
disease is avoidance of causative factors. This is called the principle of nidana Parivarjanam in
Ayurveda
						  </li>
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>



				   <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> VERY EFFECRIVE DIET FOR Diabetes -MADHUMEHA  :</b> </span>
                        <ol>
                          <li>
                            <b>EAT 2 TIMES A DAY : </b> 
							<ul>
							<li>Eat when you really feel hungry. This time can be different for different people.
Finish eating the meals &amp; all the stuff you like to eat or drink in *55 minutes* span.
Things which can be consumed in any amount</li>
							</ul>
						  </li><br>
						  <li>
                            <b>in *GAPS* between meals are all without Sugar/Jaggery/Sugar Substitutes/ Honey : </b> 
							<ul>
							<li>Tomato upto one</li>
							<li>Thin Buttermilk (Add salt &amp; jeera powder if you want)</li>
							<li>DiluteTea-25% milk + 75% water.</li>
							<li>Black tea/Black coffee/ green tea</li>
							<li>Lemon Water</li>
							<li>Coconut water without pulp (Malai)</li>
							<li>Clove</li>
							</ul>
						  </li><br>

						  <li>
                            <b>EXERCISING: </b> 
							<ul>
							<li>highly recommended.</li>
							<li>Any form of exercise which will increase your heart rate is okay. In case of walking ,walk 2.5 km in 30
minutes.</li>
							<li>Exercise for at least 30 minutes for 5 days in a week.</li>
							
							</ul>
						  </li><br>
						  <li><b>Keep the *meal TIMINGS fixed*.A variation of 15-20 minutes is allowed.</b></li><br>
                          <li><b>You can *BREAK the diet plan only for genuine reasons.*
Follow the diet plan strictly next day onwards.</b></li>

                        </ol>
                       
                      </div>
                    </div>
                  </div>




             
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit">  
                                <i class="material-icons small right">business_center</i>
                                Our health Packages</button>
                              
                              <button class="packeageit"> 
                                  <i class="material-icons small right">call</i> Online Consultation 
                                </button>

                                <button class="packeageit"> 
                                    <i class="material-icons small right">shopping_cart</i>  
                                      Buy Products</button>
        
                          </center>

                      <center>
                          <button class="packeageit">
                              <i class="material-icons small right">add_box</i>  
                            Our Clinics</button>
  
                      </center>      
                          <ul>
                            <li>
                              <b> 
                            </li>
                            <br>
                            <li>
                              <b>&nbsp;Free 10% discount : </b> 
                              &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                            </li>
                            <br>
                            <li>
                                <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                              </li>
                          </ul>
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to cure their diseases which is <b>Completely based on Ayurved</b>. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          <b>You can click below link to visit our website ..</b>
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/"> <b>  www.drhealthcart.com</b> </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>
      <div class="header">
          <p> <i>drhealthcart.com</i> </p>
        </div>      
       
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=diabetes;";
    window.location.href = "/auth/google?destination=diabetes";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=diabetes;";
    window.location.href = "/auth/google?destination=diabetes";    
      })

      
    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>