<!--user is not signed in-->
<!-- destination value= pimples-->
<!DOCTYPE html>
  <html>
    <head>
      <title>Pimples (Acne)</title>
      <!--Google font integration for nestimatic head-->
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <nav>
            <div class="nav-wrapper purple">
              <a href="#" class="brand-logo center">Pimples (Acne)</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="collapsible.html">Dr. Health Cart</a></li>
              </ul>
            </div>
          </nav>
                

      <div class="myactivitybutton"> 
          
          <a href="#" id="signinbutton" class="waves-effect white black-text btn"><i class="material-icons left">account_box</i>Sign-In with Google</a>
        
      </div>
        <br>
      <div class="mycard">
          <div class="col s12 m7">
              <div class="card horizontal purple">
                  <div class="card-image">
                      <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content white-text">
                          <p class="mainsize">Restore your hair health with Dr. Health Cart !</p>
                        </div>
                    </div>
    
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              <b>White Heads </b>    
                            </li> <br>
                            <li>
                              <b>Black Heads</b>              
                            </li><br>
                            <li>
                              <b>Pimples </b>                        
                            </li><br>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                         <div class="card-content black-text">
                            <span class="card-title" style="color: orangered"> <b> Causes:</b> </span>
                            <ol>
                              <li> 
                                <b>The primary cause is impairment of all the three doshas, predominantly the pitta dosha, which further vitiates the rakta and meda dhatus (blood and fat tissues). Vitiated doshas produce toxins that block the energy channels of the face leading to pimple formation. The condition of acne can also be aggravated by excessive intake of oily, spicy, salty and sour foods. </b>    
                              </li> <br>
                            </ol>
                      </div>
                    </div>
                  </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            <b>Prepare a powdered mixture of coriander seeds, fennel, basil, turmeric and Indian gooseberry (amla) in equal parts. Take ½ teaspoon of this powder 15 minutes before lunch and dinner </b> 
                          </li><br>
                          <li>
                                <b> Have 1 teaspoon of powdered Indian gooseberry fruit (amla) in morning and evening with water. </b>            
                          </li><br>
                          <li>
                            <b>Home remedies are not acne treatment, these may give you some relief. For personalized acne treatment, talk to our doctor today. </b>                       
                          </li> 
                          <li>
                            <b>Take one teaspoon of coriander juice mixed with a pinch of turmeric powder. Drink twice daily. </b>     
                          </li>
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m12">
                      <div class="card white darken-1">
                           <div class="card-content black-text">
                              <span class="card-title" style="color: orangered"> <b> Ayurvedic Acne Treatment:</b> </span>
                              <ol>
                                <li> 
                                  <b>Ayurveda has a singular approach to all forms of acne treatment as this problem appears due to imbalance of the three doshas —vata, pitta and kapha. However, the main cause is the aggravation of the pitta dosha, an Ayurvedic humor that symbolizes heat or fire. Pitta dosha manifests in the skin and causes accumulation of heating toxins. These heating toxins accumulate in deep tissues like rasa (nutrient plasma), rakta, (blood), mamsa (muscles) and lasika (lymphatic). These toxins cause contamination of deeper tissues, leading to the condition of Yauvanpidika. Because acne is deep-rooted, use of local creams, antibiotics and lotions only masks the symptoms. Thus, specific Ayurvedic acne treatment is advised which includes right diet, lifestyle and some specialized herbal combinations that tackle the disease from its root cause. </b>    
                                </li> <br>
                              </ol>
                        </div>
                      </div>
                    </div>
             
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit">  
                                <i class="material-icons small right">business_center</i>
                                Our health Packages</button>
                              
                              <button class="packeageit"> 
                                  <i class="material-icons small right">call</i> Online Consultation 
                                </button>

                                <button class="packeageit"> 
                                    <i class="material-icons small right">shopping_cart</i>  
                                      Buy Products</button>
        
                          </center>

                      <center>
                          <button class="packeageit">
                              <i class="material-icons small right">add_box</i>  
                            Our Clinics</button>
  
                      </center>      
                          <ul>
                            <li>
                              <b> 
                            </li>
                            <br>
                            <li>
                              <b>&nbsp;Free 10% discount : </b> 
                              &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                            </li>
                            <br>
                            <li>
                                <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                            </li>
                            <br>
                            <li>
                                <b>&nbsp;Along with the medicine kit, we are going to provide you with some additional things which is beneficial for you.</b>
                                <ul>
                                  <li>&nbsp;EXTERNAL APPLICATION OIL / CREAM </li>
                                  <li>&nbsp;DIET PLAN </li>
                                  <li>&nbsp;YOG & EXCERSICE GUIDE</li>
                                </ul> 
                            </li>
                          </ul>
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to cure their diseases which is <b>Completely based on Ayurved</b>. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          <b>You can click below link to visit our website ..</b>
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/"> <b>  www.drhealthcart.com</b> </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>
      <div class="header">
          <p> <i>drhealthcart.com</i> </p>
        </div>      
       
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=pimples;";
    window.location.href = "/auth/google?destination=pimples";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=pimples;";
    window.location.href = "/auth/google?destination=pimples";    
      })

      
    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>