<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <div class="headerlogo">
            <center>
              <p >
                  Hyperacidity
              </p>
                
            </center>

          </div>

                

      
        <br>
      <div class="mycard">
          <div class="col s12 m12">
              <div class="card" style="background: #7C216F">
                  <div class="card-image">
                    <center>
                
                        <p style="color:white;font-size: 32px;">
                            Restore your  health  <a href="https://en.wikipedia.org/wiki/Ayurveda" style="color:#00FF00;">naturally </a> with <br> Dr. Health Cart !
                            <a href="#" id="signinbutton" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left">account_box</i>Sign in with Google</a>
        
                          </p>
                          
                    </center>
                      <img src="images/acidity.jpg">
                    </div>
              
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                                Stiffness in the stomach
                            </li> <br>
                            <li>
                                Lack of appetite
							             </li><br>
                            <li>
                                Constipation
							              </li><br>
                            <li>
                                Indigestion
							              </li><br>
							              <li>
                                Sour belching
							              </li><br>
						              	<li>
                                Actual vomiting
							              </li><br>
							              <li>
                                Feeling of restlessness
							              </li><br>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            Take powder of roasted cumin and coriander seeds (25 gm each) and mix with 50 gm of sugar. Take half spoon of it 3 times a day to get rid of hyperacidity.	</li><br>
                            <li>
                              Make a powdered mixture of equal parts of rock candy (or unrefined sugar), fennel, and green cardamom. Whenever you feel heartburn, mix 1 teaspoon of the mixture in a glass of cold milk and drink.							              </li><br>
                             <li>
                              Drink 100-500 ml of tender coconut water twice a day for relief from hyperacidity Mix equal parts of powdered fennel, licorice root, basil leaves and coriander seeds. Have ½ teaspoon of this mixture with ½ teaspoon of powdered rock candy (or unrefined sugar) 15 minutes before lunch and dinner.						                 </li> <br>  
                        </ol>
                       
                      </div>
                    </div>
                  </div>

          <div class="col s12 m12">
				   <div class="card white darken-1">
					   <div class="card-content black-text">
						   <span class="card-title" style="color: orangered">
							   <b> Other Facts & Information :</b>
						   </span>
						   <ol>
							   <li>
								   <b>Acidity :</b>
								   <ul>
									   <li>
                      Hyperacidity simply means an increased level of acid in the stomach. 
                      The stomach secretes Hydrochloric Acid, a digestive juice that breaks down food particles into their smallest form to aid digestion. 
                      When there is an excessive amount of hydrochloric acid in the stomach, the condition is known as Hyperacidity.
                      Acidity treatment in Ayurveda is very effective, particularly in cases where the patient approaches sooner instead of popping pills to subdue symptoms. 
                      Even in advanced cases, with proper medicines, and by following prescribed diet and lifestyle recommendations, Acidity treatment provides very high relief.
									   </li>
								   </ul>
							   </li>
							   <br>
								   <li>
									   <b>Causes:</b>
									   <ul>
										   <li>
                        In Ayurvedic Acidity treatment, the main cause is considered to be the aggravation of Pitta Dosha in the body.
                         Pitta is an Ayurvedic humor that symbolizes heat or fire. 
                       </li>
                       <li>
                        There are many causes for the aggravation of Pitta, main among them are:
                          <ol>
                            <li>Eating foods that do not suit the constitution or foods that should not be taken together (milk and fish, milk and salt)</li>
                            <li>Excessively sour or spicy foods and liquids</li>
                            <li>White flour products and white sugar products</li>
                            <li>Smoking and excessive consumption of tea</li>
                            <li>Coffee and alcohol</li>
                            <li>Eating in a state of indigestion</li>
                            <li>Suppressing urges of urination and stool</li>
                            <li>Sleeping in the daytime after meals</li>
                            <li>Staying awake late into the night</li>
                            <li>Excessive stress, anger and hunger</li>
                            <li>Excessive exposure to sun and heat</li>
                            <li>Gastro-duodenal ulcer</li>
                            <li>And many more...</li>
                          </ol>
                      </li>
                       <li>
                          All of these causes along with assistive diagnosis provided by drheath treatment protocol engine, 
                          are considered by our doctor to provide precise, root-cause Acidity treatment to the patient.
                       </li>
                      </ul>
                   </li>
                   <br>
                   <li>
                      <b>Ayurvedic Hyperacidity Treatment : </b>
                      <ul>
                        <li>
                            Hyperacidity is known as Amlapitta in Ayurveda (Amla means sour and Pitta means heat).
                             Hyperacidity therefore is a condition characterized by an increase of sourness and heat in the body. The aggravated Pitta impairs the digestive fire, leading to improper digestion of food and production of ama (toxins).
                             This ama gets accumulated in the digestive channels and causes Hyperacidity.
                        </li>
                        <br>
                        <li>
                            Acidity treatment in Ayurveda is focused on pacifying the aggravated Pitta Dosha. 
                            Cleansing herbs are also administered to eliminate toxins from the body and cleanse the channels. 
                            This automatically enhances the digestive fire, leading to better digestion.
                        </li>
                      </ul>
                   </li>
                   <br>
                   <li>
                     
                     <b>Diet & Lifestyle Advice : </b>
                     <ol>
                       <li>
                        	Avoid tea, coffee, and carbonated or alcoholic beverages.
                       </li>
                       <br>
                       <li>
                          	Avoid processed and fermented foods.
                        </li>
                        <br>
                        <li>
                            	Avoid using garlic, ginger, onions, tomatoes, and vinegar in cooking.
                          </li>
                          <br>
                          <li>
                              	Also avoid rich gravies, sour, salty, and spicy foods.
                          </li>
                          <br>
                          <li>
                              Curd should be strictly avoided at night.
                          </li>
                          <br>
                          <li>
                            	Take meals in a relaxed atmosphere at regular intervals.
                          </li>
                          <br>
                          <li>
                              Practice Yoga and Pranayama such as Vajrasana, Bhujangasana, Salabhasana,
                               Bhastrika Pranayama,Shitali Pranayama and Shitkari Pranayama.
                          </li>
                          <br>

                    </ol>
                   </li>  
								</ol>

					   </div>
				   </div>
			   </div>
			   
             
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit" style="background: #546e7a;color: white;">  
                                <i class="material-icons small right">business_center</i>
                                <b>
                                    Buy Medicines
                                </b> </button>
                              
                              <button class="packeageit" > 
                                  <i class="material-icons small right">call</i>  <b>
                                      Online Consultation
                                  </b> 
                                </button>

                                
        
                          </center>

                      <center>
                          <button class="packeageit" >
                              <i class="material-icons small right">add_box</i>  
                            <b>
                                Personal Appointment
                            </b> </button>
  
                      </center>  
                      <div style="background: #FCE2E1;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <ul>
                              <li>
                                <b> 
                              </li>
                              <br>
                              <li>
                                <b>&nbsp;Free 10% discount : </b> 
                                &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                              </li>
                              <br>
                              <li>
                                  <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                                </li>
                                <br>
                                <li>
                                    <b>&nbsp;Ayurvedic Medicine Kit contains :</b>
                                    <ul>
                                      <li>&nbsp;1.	Ayurvedic Tablets.   </li>
                                      <li>&nbsp;2.	Ayurvedic powder . </li>
                                      <li>&nbsp;3.	Hyperacidity Diet Chart . </li>
                                      <li>&nbsp;4.	Yoga , Pranayam ,Exercise Guidance   </li>
                                      <li>&nbsp;5.	Doctor Support ( 11AM to 7 PM )</li>
                                    </ul> 
                                </li>
                            </ul>
                      </div>    <br>
                      <div style="background: #FFFF99;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <b> Benefits Of Ayurvedic Treatment </b> 
                        <ol>
                          
                              <li>
                                  100% Herbal                               
                              </li>
                              
                              <li>
                                No side effects 
                              </li>
                             
                              <li>
                                  Cure from the roots
                              </li>
                               
                                <li>
                                    Environmental Friendly
                                </li>
                                <li>
                                    No Chemical Ingredients
                                </li>
                                <li>
                                    Result Oriented 
                                </li>
                               
                            </ol>
                      </div>    
                         
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to treat their diseases which is Completely based on Ayurved. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          You can click below link to visit our website ..
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/">   www.drhealthcart.com </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>

<div class="cookie-bar" id="hidecookie">
    <center>
        <button onclick="hidecookie()"> Accept </button>
        <p> This website uses cookies, <a href="/terms_and_conditions">learn more</a> </p> 
    </center>
  </div>
  
  <script>

      var cookiestore =  localStorage.getItem("cookie");  
      if (cookiestore == "showed")
      {
        document.getElementById("hidecookie").style.display="none";
      
      }
        function hidecookie()
        {
          document.getElementById("hidecookie").style.display="none";
          localStorage.setItem("cookie","showed");  
        }
      </script>
        

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=acidity;";
    window.location.href = "/auth/google?destination=acidity";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=acidity;";
    window.location.href = "/auth/google?destination=acidity";    
      })

      $(".packeageit").click(function()
  {
    $("#topsignindiv").hide();
    $("#topsignindiv").show(1000);
        
    $('html, body').animate(
        {
            scrollBottom: $("#topsignindiv").offset().top
        },
         2000);
    
  }) 


    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>