<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
		  <style>
			  ul{
			  list-style-type: square;
			  }

		  </style>
    </head>
    <body style="background: whitesmoke">

        <div class="headerlogo">
            <center>
              <p >
                  Constipation
              </p>
                
            </center>

          </div>

                

      
        <br>
      <div class="mycard">
          <div class="col s12 m12">
              <div class="card" style="background: #7C216F">
                  <div class="card-image">
                    <center>
                
                        <p style="color:white;font-size: 32px;">
                            Restore your  health  <a href="https://en.wikipedia.org/wiki/Ayurveda" style="color:#00FF00;">naturally </a> with <br> Dr. Health Cart !
                            <a href="#" id="signinbutton" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left">account_box</i>Sign in with Google</a>
        
                          </p>
                          
                    </center>
                      <img src="images/constipation.jpg">
                    </div>
              
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              Indigestion (dyspepsia)
                            </li> <br>
                            <li>
                             Abdominal pain
							 </li><br>
                            <li>
                             Nausea
							 </li><br>
                            <li>
                              Flatulence
							  </li><br>

							   <li>
                              Lack of appetite
							  </li><br>

							   <li>
                              Pain at the anus while defecating
							  </li><br>

							   <li>
                              Heaviness of body
							  </li><br>

                             <li>
                               Acid eructation (belching)
							   </li>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            Take one table spoon of castor oil at bed time until you get relief.
							</li><br>
                            <li>
                                Develop a habit of drinking water in the morning. Start with 2 glasses of
water, and increase intake up to 6 - 7 glasses. It is more beneficial if this
water can be stored in a copper container overnight.
								</li><br>

                          <li>
                        Soak 3-4 dried figs after washing them overnight in water. Eat them first
thing in the morning, and also drink the water in which they were soaked. They
should also be taken in the evening. Try this treatment for 3-4 weeks.    
						</li> <br>

						 <li>
                        Apply 3 to 4 drops of lukewarm castor oil over the navel at night in kids. It
will help in clearing the bowel movements in kids (of age 1- 3 years) in the
morning.   
						</li> <br>
                         
                          <li>
                        Apply lukewarm sesame oil on the navel during taking bath and put towel
(which is dipped in warm water) on the lower abdomen.    
						</li>
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>





			   <div class="col s12 m12">
				   <div class="card white darken-1">
					   <div class="card-content black-text">
						   <span class="card-title" style="color: orangered">
							   <b> Other Facts & Information :</b>
						   </span>
						   <ol>
							   <li>
								<b>Constipation :</b>	
								<ul>
									<li>
										Inability to completely evacuate the bowels or passing very hard stools is
known as Constipation or Vibandh in Ayurveda. This prevalent problem is due to
an incorrect lifestyle and poor eating patterns. Although constipation is often
looked upon as a common problem, if not treated or if Constipation treatment
is delayed, it can lead to further problems such as fissures, fistulas, piles, lack
of appetite and indigestion.
									</li>
								</ul>
								</li>
							   <br>
								   <li>
									  <b>Causes :</b>	
								<ul>
									<li>
										To provide root-cause Constipation treatment, it is important to understand
the root-cause first. Basically, weak digestive power is the most common
reason and it results from irregular and incorrect eating patterns, not taking
in enough fluids, taking a diet that is low in fiber, a sedentary lifestyle, and
bowel evacuation habits that are poor. These all lead to incomplete digestion
of the food, which is not expelled by the intestines and causes the formation
of ama (mucus). Foods that are heavy and difficult to digest, as well as oily,
spicy, fried, and junk foods are the culprits. Eating food in a disturbed
atmosphere or in front of the television and being awake late at night all lead
to bowel disturbance. Psychological factors like stress, anxiety, fear, jealousy,
and sorrow also play an important role and is addressed during Constipation
									</li>
								</ul>
								   </li>
								   <br>

									   <li>
										   
									   	  <b>Ayurvedic Constipation Treatment :</b>	
								<ul>
									<li>
										According to Ayurveda, undigested food and occult stool slowly accumulate in
the stomach and large intestines respectively and impair Vata Dosha, resulting
in obstruction of the digestive tract. When the digestive tract is not clear,
the body will not be able to facilitate proper bowel movement, thereby leading
to the condition of constipation.
									</li>
								</ul>
									   
										   
									   </li>
									   <br>

										   <li>
											    <b>Diet and Lifestyle Advice :</b>	
								<ol>
									<li>
										Increase intake of fiber, especially fruits and cooked vegetables.
									</li>
									
								     <li>
									An apple or banana each day is helpful. Bananas should be ripe	 
									 </li>
								
									<li>
										Drink 7-8 glasses of water each day, preferably lukewarm in winters and
room -temperature water in summers. 
									 </li>
									
									
									<li>
										Have a mid-morning soup, preferably prepared with spinach and tomato.
									</li>
									
									
									<li>
										Take daily morning and evening walks for at least 20-30 minutes each.
									</li>
										   
										   
									<li>
										Eat whole grains and nuts.
									</li>
									
									
									<li>
										Avoid removing bran from the flour because the bran is an insoluble fiber
that clears off the intestines and relieves constipation.
									</li>
										   
											   
									<li>
										Avoid refined foods like white flour, bread, pasta, pizza, white rice, etc.
									</li>
								
										   
									<li>
										High -protein foods like cheese, red meat, and soybeans can cause
constipation, so these must be taken with a bowl of salad and lots of liquids.
									</li>
										
											
									<li>
										Meat is constipating and should be avoided.
									</li>
										
										
									<li>
										Disturbing psychological factors should be removed, and meals should be
taken in a relaxed and calm atmosphere.
									</li>
				   
			   
									<li>
										The food should be warm and freshly -prepared, as cold and stale food slows
down the digestive power.
									</li>
			   
			   
									<li>
										Having excessively cold food like ice cream or chilled drinks reduces the
bowel movement.
									</li>
								
										   
								</ol>
										   </li>
										   <br>

											   

										   </ol>

					   </div>
				   </div>
			   </div>			   
			   
			   
			   
			   
			   
			   
			   
			   
			   
			   
			   
			   
			   
             
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit" style="background: #546e7a;color: white;">  
                                <i class="material-icons small right">business_center</i>
                                <b>
                                    Buy Medicines
                                </b> </button>
                              
                              <button class="packeageit" > 
                                  <i class="material-icons small right">call</i>  <b>
                                      Online Consultation
                                  </b> 
                                </button>

                                
        
                          </center>

                      <center>
                          <button class="packeageit" >
                              <i class="material-icons small right">add_box</i>  
                            <b>
                                Personal Appointment
                            </b> </button>
  
                      </center>
							<div style="background: #FCE2E1;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
								<ul>
									<li>
										<b> 
                              </li>
									<br>
										<li>
											<b>&nbsp;Free 10% discount : </b>
											&nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
										</li>
										<br>
											<li>
												<b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
											</li>
											<br>
												<li>
													<b>&nbsp;Ayurvedic Treatment Kit contains :</b>
													<ol>
														<li>&nbsp;Ayurvedic Tablets.  </li>
														<li>&nbsp;Ayurvedic powder .  </li>
														<li>&nbsp;External Application for Allergy</li>
														<li>&nbsp;Allergy  Diet Chart  </li>
														<li>&nbsp;Yoga , Pranayam ,Exercise Guidance</li>
													</ol>
												</li>
											</ul>
							</div>
							<br>
								<div style="background: #FFFF99;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
									<b>Benefits of Ayurvedic Treatment</b>
									<ol>
										<li>
											100% Herbal/Ayurvedic
										</li>

										<li>
											No side effects
										</li>

										<li>
											Cure from the roots
										</li>

										<li>
											Environmental Friendly
										</li>
										<li>
											No Chemical Ingredients
										</li>
										<li>
											Result Oriented
										</li>

									</ol>
								</div>

								<br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to treat their diseases which is Completely based on Ayurved. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          You can click below link to visit our website ..
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/">   www.drhealthcart.com </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>

<div class="cookie-bar" id="hidecookie">
    <center>
        <button onclick="hidecookie()"> Accept </button>
        <p> This website uses cookies, <a href="/terms_and_conditions">learn more</a> </p> 
    </center>
  </div>
  
  <script>

      var cookiestore =  localStorage.getItem("cookie");  
      if (cookiestore == "showed")
      {
        document.getElementById("hidecookie").style.display="none";
      
      }
        function hidecookie()
        {
          document.getElementById("hidecookie").style.display="none";
          localStorage.setItem("cookie","showed");  
        }
      </script>
        

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=constipation;";
    window.location.href = "/auth/google?destination=constipation";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=constipation;";
    window.location.href = "/auth/google?destination=constipation";    
      })

      $(".packeageit").click(function()
  {
    $("#topsignindiv").hide();
    $("#topsignindiv").show(1000);
        
    $('html, body').animate(
        {
            scrollBottom: $("#topsignindiv").offset().top
        },
         2000);
    
  }) 


    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>