<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <div class="headerlogo">
            <center>
              <p >
                 Mental Stress & Depression
              </p>
                
            </center>

          </div>

                

      
        <br>
      <div class="mycard">
          <div class="col s12 m12">
              <div class="card" style="background: #7C216F">
                  <div class="card-image">
                    <center>
                
                        <p style="color:white;font-size: 32px;">
                            Restore your  health  <a href="https://en.wikipedia.org/wiki/Ayurveda" style="color:#00FF00;">naturally </a> with <br> Dr. Health Cart !
                            <a href="#" id="signinbutton" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left">account_box</i>Sign in with Google</a>
        
                          </p>
                          
                    </center>
                      <img src="images/depression.jpg">
                    </div>
              
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              Acne
                            </li> <br>
                            <li>
                             Headaches
							 </li><br>
                            <li>
                             Chronic Pain
							 </li><br>
                            <li>
                              Frequent Sickness
							  </li><br>

							   <li>
                                 Decreased Energy and Insomnia
							  </li><br>

							   <li>
                                    Digestive Issues
							  </li><br>

							   <li>
                                    Appetite Changes
							  </li><br>

                             <li>
                                    Rapid Heartbeat
							   </li>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                                Take grated fresh coconut 10g, paste of 2-3 almonds (soaked for 6 to 7 hours and peeled), powdered fennel seeds 5g ,
                                 black pepper powder 2g, and powdered rock candy or raw sugar 20g. Mix all the ingredients and drink with saffron milk.
                                 To prepare saffron milk, soak 5 to 6 threads of saffron in one teaspoon of milk for 5 to 6 hours. Chew well and eat.
						  </li><br>
                          <li>
                                    Have 1 teaspoonful of licorice root powder with water empty stomach in the morning. 
                                    This is mentioned as a medhya rasayana in Ayurveda i.e. a mind rejuvenator.
						  </li><br>
                          <li>
                                Add some fresh rose petals in a cup of boiling water. Keep it aside till it is lukewarm. 
                                Add ½ teaspoonful of sugar to it and have this twice a day. This is a good drink to uplift mood.
						  </li> <br>    
                        </ol>
                       
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text">
                          <span class="card-title" style="color: orangered">
                            <b> Other Facts & Information :</b>
                          </span>
                          <ol>
                            <li>
                              <b>Mental Stress & Depression :</b>
                              <ul>
                                <li>
                                    Most people experience stress and anxiety from time to time. Stress is any demand placed on your brain or physical body. 
                                    People can report feeling stressed when multiple competing demands are placed on them. The feeling of being stressed can be triggered by an event that makes you feel frustrated or nervous. Anxiety is a feeling of fear, worry, or unease. 
                                    It can be a reaction to stress, or it can occur in people who are unable to identify significant Stresses in their life. 
                               </li>
                               <li>
                                  Stress and anxiety are not always bad. In the short term, they can help you overcome a challenge or dangerous situation. 
                                  Examples of everyday stress and anxiety include worrying about finding a job, feeling nervous before a big test, or being 
                                  embarrassed in certain social situations. 
                                  If we did not experience some anxiety we might not be motivated to do things that we need to do (for instance, studying for that big test!).
                               </li>
                               <li>
                                  However, if stress and anxiety begin interfering with your daily life, it may indicate a more serious issue. 
                                  If you are avoiding situations due to irrational fears, 
                                  constantly worrying, or experiencing severe anxiety about a traumatic event weeks after it happened, it may be time to seek help.
                               </li>
                              </ul>
                            </li>
                            <br>
                              <li>
                                <b>Causes:</b>
                                <ul>
                                  <li>
                                   Common Causes:
                                     <ol>
                                       <li>moving</li>
                                       <li>starting a new school or job</li>
                                       <li>having an illness or injury</li>
                                       <li>having a friend or family member who is ill or injured </li>
                                       <li>death of a family member or friend</li>
                                       <li>getting married ,having a baby</li>
                                       <li>And many more...</li>
                                     </ol>
                                 </li>
                                 <br>
                                 <li>
                                    Drugs and medications :
                                      <ol>
                                        <li>Drugs that contain stimulants may make the symptoms of stress and anxiety worse. </li>
                                        <li>Regular use of caffeine, illicit drugs such as cocaine, and even alcohol can also make symptoms worse.</li>
                                        <li>Prescription medications that can make symptoms worse include:
                                          <ul>
                                           <li> thyroid medications</li>
                                           <li> asthma inhalers</li>
                                           <li> diet pills</li>
                                          </ul> 
                                        </li>
                                      </ol>
                                  </li>
                      
                                 </ul>
                                 <br>
                              </li>
                              <br>
                              <li>
                                 <b>Ayurvedic stress &  Anxiety Disorder Treatment :</b>
                                 <ul>
                                   <li>
                                      Anxiety Disorder treatment in Ayurveda takes a comprehensive view of an individual's physical, emotional and spiritual conditions.
                                       These attributes have an effect on prana vata, a subsidiary of vata dosha which become aggravated with worry, anxiety and depression. 
                                       Prana vata weakens the nervous system and triggers mental imbalance. It also weakens the neuro-hormonal system and nerve impulses.
                                        Ayurvedic treatment of anxiety disorder would involve curbing aggravated prana vata and increasing sattva guna,
                                       which envisages a stable and peaceful mind through self-realization and self-control, and appropriate changes in diet and lifestyle.
                                   </li>
                                 </ul>
                              </li>
                              <br>
                              <li>
                                 <b>Ayurvedic View :</b>
                                 <ul>
                                    <li>
                                        These are expressions of excess vata in manovah stotasa i.e. in mind . Mind is credited with a 
                                        number of positive mental and emotional capacities like creativity, joy, intuition, expansiveness, clairvoyance, and deep spiritual understanding. However, when aggravated vata accumulates in the channel of the mind, it tends to cause constriction—which can lead to fear, anxiety, contraction, and even loneliness. We will start by exploring how these imbalances occur in the first place, but the purpose of this article is to offer practical 
                                        guidance on how to support a return to balance so that we can reclaim health and vitality throughout the mental and emotional spheres.                             
                                    </li>
                                  </ul>

                              </li>
                              <br>
                              <li>
                                <b>Diet & Lifestyle Advice :</b>
                                <ol>
                                  <li>
                                      Fresh fruits, fruit juices, vegetables (raw or cooked or boiled), vegetable juices, sprouts, nuts, dry fruits, honey, milk, ghee, fresh butter,
                                       and buttermilk are the best to increase sattva and enrich the mind. 
                                       Try to cut down, or if possible stop, the use of black tea, coffee, white flour products, chocolates, white sugar products, deep fried foods, 
                                       hot spices, meat, fish, and eggs. Such restrictions benefit in anxiety disorders.
                                  </li>
                                  <br>
                                  <li>
                                      <b>	Breathing exercises:</b> Mind has a very close relation with breathing.
                                       A person has short and shallow breathing when anxious or stressed and has deep breathing when relaxed and happy. 
                                       Next time you become stressed, watch your breathing. Try to slow it down. Take a relaxed position and breathe deep using the abdomen muscles.
                                        Let the diaphragm expand while breathing in, and contract while breathing out.
                                       This will immediately relax you and reduce anxiety attacks. Exercise, meditation, 
                                       relaxation techniques and Yoga postures are also recommended.
                                   </li>
                               </ol>
                              </li>
                              <br>  
                           </ol>
           
                        </div>
                      </div>
                    </div>
                    
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit" style="background: #546e7a;color: white;">  
                                <i class="material-icons small right">business_center</i>
                                <b>
                                    Buy Medicines
                                </b> </button>
                              
                              <button class="packeageit" > 
                                  <i class="material-icons small right">call</i>  <b>
                                      Online Consultation
                                  </b> 
                                </button>

                                
        
                          </center>

                      <center>
                          <button class="packeageit" >
                              <i class="material-icons small right">add_box</i>  
                            <b>
                                Personal Appointment
                            </b> </button>
  
                      </center>  
                      <div style="background: #FCE2E1;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <ul>
                              <li>
                                <b> 
                              </li>
                              <br>
                              <li>
                                <b>&nbsp;Free 10% discount : </b> 
                                &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                              </li>
                              <br>
                              <li>
                                  <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                                </li>
                                <br>
                                <li>
                                    <b>&nbsp;Ayurvedic Treatment Kit contains : </b>
                                    <ol>
                                        <li>&nbsp;Ayurvedic Tablets</li>
                                        <li>&nbsp;Ayurvedic powder .</li>
                                      <li>&nbsp;External Application for Mental  Realization   </li>
                                      <li>&nbsp;Mental Disorders  Diet Chart .</li>
                                      <li>&nbsp;Yoga , Pranayam ,Exercise Guidance .</li>
                                      <li>&nbsp;Doctor Support ( 11AM to 7 PM )</li>

                                    </ol> 
                                </li>
                            </ul>
                      </div>    <br>
                      <div style="background: #FFFF99;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <ol>
                              <b> Benefits Of Ayurvedic Treatment </b>
                              <li>
                                  100% Herbal                               
                              </li>
                              
                              <li>
                                No side effects 
                              </li>
                             
                              <li>
                                  Cure from the roots
                              </li>
                               
                                <li>
                                    Environmental Friendly
                                </li>
                                <li>
                                    No Chemical Ingredients
                                </li>
                                <li>
                                    Result Oriented 
                                </li>
                               
                            </ol>
                      </div>    
                         
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to treat their diseases which is Completely based on Ayurved. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          You can click below link to visit our website ..
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/">   www.drhealthcart.com </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>

<div class="cookie-bar" id="hidecookie">
    <center>
        <button onclick="hidecookie()"> Accept </button>
        <p> This website uses cookies, <a href="/terms_and_conditions">learn more</a> </p> 
    </center>
  </div>
  
  <script>

      var cookiestore =  localStorage.getItem("cookie");  
      if (cookiestore == "showed")
      {
        document.getElementById("hidecookie").style.display="none";
      
      }
        function hidecookie()
        {
          document.getElementById("hidecookie").style.display="none";
          localStorage.setItem("cookie","showed");  
        }
      </script>
        

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=depression;";
    window.location.href = "/auth/google?destination=depression";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=depression;";
    window.location.href = "/auth/google?destination=depression";    
      })

      $(".packeageit").click(function()
  {
    $("#topsignindiv").hide();
    $("#topsignindiv").show(1000);
        
    $('html, body').animate(
        {
            scrollBottom: $("#topsignindiv").offset().top
        },
         2000);
    
  }) 


    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>