<!DOCTYPE html>
  <html>
    <head>
        <title>drhealthcart</title>
      <!--Google font integration for nestimatic head-->
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="main.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="background:whitesmoke">
        <nav>
            <div class="nav-wrapper" style="background: #7C216F;">
              <a href="#" class="brand-logo right"> 
                  <i class="material-icons large right">add_shopping_cart</i>     Dr. Health Cart</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              </ul>
            </div>
          </nav>
    
      <br> <br>
    
      <div class="mycard">
        <!-- 1 -->
        <div class="row">

          <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/Hairfall.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Hairfall :</b> </p>
                  <p>    Also called as hair-loss or Alopecia which includes hair loss from the scalp or elsewhere on the body.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="hairfall" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>

            <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%">
              <div class="card large">
                <div class="card-image">
                  <img src="images/Piles.jpg">
                </div>
                <div class="card-content">
                    <p style="font-size: 25px;display: inline;">  <b> Piles :</b> </p>
                    <p>Also called as Hemorrhoids which includes Swollen and inflamed veins in the rectum and anus which cause discomfort and bleeding.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="piles" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>
    
            <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%">
              <div class="card large">
                <div class="card-image">
                  <img src="images/Cold.jpg">
                </div>
                <div class="card-content">
                    <p style="font-size: 25px;display: inline;">  <b> Cold :</b> </p>
                    <p>Also called as Common cold which is A common viral infection of the nose and throat.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="#" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>
            
        


		<div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/Constipation.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Constipation :</b> </p>
                  <p>    Inability to completely evacuate the bowels or passing very hard stools is known as
						Constipation or Vibandh in Ayurveda.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="constipation" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>



			 <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/Diabetes.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Diabetes :</b> </p>
                  <p>    Diabetes mellitus (DM) is one of the most common non-communicable diseases (NCDs) globally.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="diabetes" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>



			 <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/IBS.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> IBS :</b> </p>
                  <p>    Irritable Bowel Syndrome (IBS) is a very common digestive disorder that plagues
innumerable people around the world.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="ibs" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>

			<div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/Obesity.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Obesity :</b> </p>
                  <p>    Obesity is accumulation of excess fat in the body which may lead to negative effects on health, reduced
life expectancy and/or increased health problems.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="obesity" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>


			<div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/PCOD.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> PCOD :</b> </p>
                  <p>    Polycystic ovarian disease is a gynaecological disorder whose prevalence seems
to have increased considerably among Indian women in last few years.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="pcod" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>



			<div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/psoriasis.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Psoriasis :</b> </p>
                  <p>    Psoriasis is a non-contagious common skin condition that causes rapid skin cell
reproduction resulting in red, dry patches of thickened skin.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="psoriasis" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>



			<div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/spondylosis.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Spondylosis :</b> </p>
                  <p>    "Spondylosis" refers to degenerative changes in the spine such as bone spurs and degenerating
intervertebral discs.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="spondylosis" style="color: white">Get more info ...</a>
                </div>
              </div>
            </div>



			<div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
              <div class="card large">
                <div class="card-image">
                  <img src="images/thyroid.jpg">
                </div>
                <div class="card-content">
                 <p style="font-size: 25px;display: inline;">  <b> Thyroid :</b> </p>
                  <p>    Hypothyroidism may be caused by problems within the thyroid gland that causes
                          insufficient circulation of the thyroid hormone.</p>
                </div>
                <div class="card-action" style="background: orangered;">
                  <a href="thyroid" style="color: white">Get more info ...</a>
                </div>
              </div>
      </div>
      <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
        <div class="card large">
          <div class="card-image">
            <img src="images/acidity.jpg">
          </div>
          <div class="card-content">
           <p style="font-size: 25px;display: inline;">  <b>Hyperacidity :</b> </p>
            <p> When there is an excessive amount of hydrochloric acid in the stomach, the condition is known as Hyperacidity.</p>
          </div>
          <div class="card-action" style="background: orangered;">
            <a href="acidity" style="color: white">Get more info ...</a>
          </div>
        </div>
      </div>

      <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
        <div class="card large">
          <div class="card-image">
            <img src="images/allergy.jpg">
          </div>
          <div class="card-content">
           <p style="font-size: 25px;display: inline;">  <b>Allergy:</b> </p>
            <p> Allergies are an overreaction of the body's immune system to specific substances that it misidentifies as harmful. </p>
          </div>
          <div class="card-action" style="background: orangered;">
            <a href="allergy" style="color: white">Get more info ...</a>
          </div>
        </div>
      </div>

      <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
        <div class="card large">
          <div class="card-image">
            <img src="images/depression.jpg">
          </div>
          <div class="card-content">
           <p style="font-size: 25px;display: inline;">  <b>Mental Stress & Depression :</b> </p>
            <p> Depression is an intrinsic problem which many suffer from in today’s fast-paced world. From a child who is being bullied in school to a youth who may be roaming about jobless after completing his degree, or even a lonely adult, people fall prey to depression due to various circumstances and reasons. </p>
          </div>
          <div class="card-action" style="background: orangered;">
            <a href="mentalDepress" style="color: white">Get more info ...</a>
          </div>
        </div>
      </div>

      <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
        <div class="card large">
          <div class="card-image">
            <img src="images/pimples.jpg">
          </div>
          <div class="card-content">
           <p style="font-size: 25px;display: inline;">  <b>Pimples/Acne:</b> </p>
            <p> Acne is a skin condition in which there is excess production of oil from the sebaceous glands leading to the blockage of hair follicles. </p>
          </div>
          <div class="card-action" style="background: orangered;">
            <a href="pimples" style="color: white">Get more info ...</a>
          </div>
        </div>
      </div>

      <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
        <div class="card large">
          <div class="card-image">
            <img src="images/prematureEjac.jpg">
          </div>
          <div class="card-content">
           <p style="font-size: 25px;display: inline;">  <b>Premature Ejaculation:</b> </p>
            <p> Premature ejaculation (PE) is uncontrolled ejaculation either before or shortly after sexual penetration, with minimal sexual stimulation and before the person wishes.  </p>
          </div>
          <div class="card-action" style="background: orangered;">
            <a href="prematureEjac" style="color: white">Get more info ...</a>
          </div>
        </div>
      </div>

      <div class="col s12 m3 purple" style="border-radius: 5px;margin: 1%;">
        <div class="card large">
          <div class="card-image">
            <img src="images/prematureEjac.jpg">
          </div>
          <div class="card-content">
           <p style="font-size: 25px;display: inline;">  <b>Premature Ejaculation:</b> </p>
            <p> Premature ejaculation (PE) is uncontrolled ejaculation either before or shortly after sexual penetration, with minimal sexual stimulation and before the person wishes.  </p>
          </div>
          <div class="card-action" style="background: orangered;">
            <a href="prematureEjac" style="color: white">Get more info ...</a>
          </div>
        </div>
      </div>
			

     

       </div>
  
      <!--end of cards -->    
      </div>

      <br><br><br>



      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>