<!--user is signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />

      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis_2.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }

      </script>
		  <style>
			  ul{
			  list-style-type: square;
			  }

		  </style>
    </head>
    <body style="background: whitesmoke;">

        <div class="headerlogo">
            <center>
              <p >
                  Obesity
              </p>
                
            </center>

          </div>

      <div class="myactivitybutton"> 
          
          <a href="myactivity" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left" >account_box</i>My Activity</a>
         
      </div>
 <br>
 

<div class="mycard2">
 
  <div class="row">
    <div class="col s12 m12">
      <div class="card White darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: #7C216F;"><b>Buy Medicines</b>  <i class="material-icons right medium" >add_shopping_cart</i>  </span> <br>
          <p>
              <b>Research & Result based  <a href="https://en.wikipedia.org/wiki/Ayurveda">Ayurveda </a>  Treament </b> 
            <ol> 
                           
              <li> 100% Herbal</li>
              <li> No side effects. </li>
              <li> Higher Concentration.</li>
              <li> Lower Dose.</li>
              <li> Better Bio Availability.</li>
              
            </ol>
          </p>
     
        <center>

          <form action="/placeorder?dis=obesity" method="POST"> 
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"    
                data-key="rzp_live_HOaVghw8NAgasf" 
                data-amount="219900"
                data-currency="INR"
                
                
            >
            </script>
                   <input type="submit" class="packeageit" value="Buy Medicines">
     
            <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
            </form>
            
          <!-- <a href="/tdbookphonecall?dis=obesity" ><button  class="packeageit"> Buy Medicines</button> </a>  <br> -->

      </center>
      
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <div class="card White darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: #7C216F;">               
            <i class="material-icons right medium" >contact_phone</i><b>Book Phone Call Appoinment</b>  </span> 
      
        
           <div class="warn">
             <center>
                <p id="cdatep"></p>
             </center>
                
              
             </div>
          
                 <p> <b> Select Date :</b>  </p>
                 <br><br>
                 <center>
                 <form class="payform" action="/bookcall?dis=obesity" method="POST" > 
                   <script
                       src="https://checkout.razorpay.com/v1/checkout.js"    
                       data-key="rzp_live_HOaVghw8NAgasf" 
                       data-amount="10000"
                       data-currency="INR"
                       data-name="Pay With RAZORPAY"
                       
                   >
                  </script>
                   <input type="submit" class="packeageit" id="cdatepay">
                   <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                   </form>

                   <input type="button" class="packeageit" id="cdate" value="click me" onclick="fullnotice(this.id,this.value)">

                   



                   <form class="payform" action="/bookcall1?dis=obesity" method="POST" > 
                     <script
                         src="https://checkout.razorpay.com/v1/checkout.js"    
                         data-key="rzp_live_HOaVghw8NAgasf" 
                         data-amount="10000"
                         data-currency="INR"
                         data-name="Pay With RAZORPAY"
                         
                     >
                    </script>
                     <input type="submit" class="packeageit" id="cdate1pay">
                     <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                     </form>

                     <input type="button" class="packeageit" id="cdate1" value="click me" onclick="fullnotice(this.id,this.value)">

                     <p style="margin-bottom: 20px;" id="cdate1p"></p>

                     <br><br>

                     <form class="payform" action="/bookcall2?dis=obesity" method="POST" > 
                       <script
                           src="https://checkout.razorpay.com/v1/checkout.js"    
                           data-key="rzp_live_HOaVghw8NAgasf" 
                           data-amount="10000"
                           data-currency="INR"
                           data-name="Pay With RAZORPAY"
                           
                       >
                      </script>
                       <input type="submit" class="packeageit" id="cdate2pay">
                       <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                       </form>

                       <input type="button" class="packeageit" id="cdate2" value="click me" onclick="fullnotice(this.id,this.value)">

                       <p style="margin-bottom: 20px;" id="cdate2p"></p>

                       

                       <form class="payform" action="/bookcall3?dis=obesity" method="POST" > 
                         <script
                             src="https://checkout.razorpay.com/v1/checkout.js"    
                             data-key="rzp_live_HOaVghw8NAgasf" 
                             data-amount="10000"
                             data-currency="INR"
                             data-name="Pay With RAZORPAY"
                             
                         >
                        </script>
                         <input type="submit" class="packeageit" id="cdate3pay">
                         <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                         </form>

                         <input type="button" class="packeageit" id="cdate3" value="click me" onclick="fullnotice(this.id,this.value)">

                         <p style="margin-bottom: 20px;" id="cdate3p"></p>
                         <br><br>

                         <form class="payform" action="/bookcall4?dis=obesity" method="POST" > 
                           <script
                               src="https://checkout.razorpay.com/v1/checkout.js"    
                               data-key="rzp_live_HOaVghw8NAgasf" 
                               data-amount="10000"
                               data-currency="INR"
                               data-name="Pay With RAZORPAY"
                               
                           >
                          </script>
                           <input type="submit" class="packeageit" id="cdate4pay">
                           <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                           </form>
 
                           <input type="button" class="packeageit" id="cdate4" value="click me" onclick="fullnotice(this.id,this.value)">
 
                           <p style="margin-bottom: 20px;" id="cdate4p"></p>

                           

                           <form class="payform" action="/bookcall5?dis=obesity" method="POST" > 
                             <script
                                 src="https://checkout.razorpay.com/v1/checkout.js"    
                                 data-key="rzp_live_HOaVghw8NAgasf" 
                                 data-amount="10000"
                                 data-currency="INR"
                                 data-name="Pay With RAZORPAY"
                                 
                             >
                            </script>
                             <input type="submit" class="packeageit" id="cdate5pay">
                             <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                             </form>
   
                             <input type="button" class="packeageit" id="cdate5" value="click me" onclick="fullnotice(this.id,this.value)">
   
                             <p style="margin-bottom: 20px;" id="cdate5p"></p>


                           </center>
                  

                 <!-- <a href="/tdbookphonecall?dis=hairfall" ><button class="packeageit"></button> </a>  
                     <a href="/twbookphonecall?dis=hairfall" ><button id="cdate1" class="packeageit"></button></a>  
                     <a href="/dtwbookphonecall?dis=hairfall" ><button id="cdate2" class="packeageit"></button></a> <br>
                     <a href="/tdbookphonecall?dis=hairfall" ><button id="cdate3" class="packeageit"></button> </a>  
                     <a href="/twbookphonecall?dis=hairfall" ><button id="cdate4" class="packeageit"></button></a>  
                     <a href="/dtwbookphonecall?dis=hairfall" ><button id="cdate5" class="packeageit"></button></a> 
               
                -->
                
            
        </div>
    </div>
  </div>














      <div class="row">
        <div class="col s12 m12">
          <div class="card White darken-1">
            <div class="card-content black-text">
      
              <span class="card-title" style="color: #7C216F;"><i class="material-icons right medium" >local_hospital</i><b>Personal Appoinment</b>   </span> <br>
              <p> 
               <b> Dr. HealthCart Clinic, </b>   <br>
                Vishal Residency, <br>
                Near Yamaha Showroom, <br>
                Mumbai-Pune Highway, <br>
                Kasarwadi, Pune, <br>
                Pincode - 411034, <br>
                Maharashtra,
                India. <br>
              </p>
      
                <div class="warn">
              
                    <center>
                        <p id="pdatep"></p>
                     </center>
                        
            
                </div>       <br>   
                 <p> <b> Select Date :</b>  </p>
                <br><br>
<center>
                <form class="payform" action="/bookpsnl?dis=obesity" method="POST" > 
                  <script
                      src="https://checkout.razorpay.com/v1/checkout.js"    
                      data-key="rzp_live_HOaVghw8NAgasf" 
                      data-amount="1100"
                      data-currency="INR"
                      data-name="Pay With RAZORPAY"
                      
                  >
                 </script>
                  <input type="submit" class="packeageit" id="pdatepay">
                  <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                  </form>

                  <input type="button" class="packeageit" id="pdate" value="click me" onclick="fullnoticepsnl(this.id,this.value)">

                  



                  <form class="payform" action="/bookpsnl1?dis=obesity" method="POST" > 
                    <script
                        src="https://checkout.razorpay.com/v1/checkout.js"    
                        data-key="rzp_live_HOaVghw8NAgasf" 
                        data-amount="1100"
                        data-currency="INR"
                        data-name="Pay With RAZORPAY"
                        
                    >
                   </script>
                    <input type="submit" class="packeageit" id="pdate1pay">
                    <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                    </form>
  
                    <input type="button" class="packeageit" id="pdate1" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
  
                    <br><br>

                    <form class="payform" action="/bookpsnl2?dis=obesity" method="POST" > 
                      <script
                          src="https://checkout.razorpay.com/v1/checkout.js"    
                          data-key="rzp_live_HOaVghw8NAgasf" 
                          data-amount="1100"
                          data-currency="INR"
                          data-name="Pay With RAZORPAY"
                          
                      >
                     </script>
                      <input type="submit" class="packeageit" id="pdate2pay">
                      <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                      </form>
    
                      <input type="button" class="packeageit" id="pdate2" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
    
                      <p style="margin-bottom: 20px;" id="pdate2p"></p>


                      <form class="payform" action="/bookpsnl3?dis=obesity" method="POST" > 
                        <script
                            src="https://checkout.razorpay.com/v1/checkout.js"    
                            data-key="rzp_live_HOaVghw8NAgasf" 
                            data-amount="1100"
                            data-currency="INR"
                            data-name="Pay With RAZORPAY"
                            
                        >
                       </script>
                        <input type="submit" class="packeageit" id="pdate3pay">
                        <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                        </form>
      
                        <input type="button" class="packeageit" id="pdate3" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
      
                        <p style="margin-bottom: 20px;" id="pdate3p"></p>


                        <br><br>

                        <form class="payform" action="/bookpsnl4?dis=obesity" method="POST" > 
                          <script
                              src="https://checkout.razorpay.com/v1/checkout.js"    
                              data-key="rzp_live_HOaVghw8NAgasf" 
                              data-amount="1100"
                              data-currency="INR"
                              data-name="Pay With RAZORPAY"
                              
                          >
                         </script>
                          <input type="submit" class="packeageit" id="pdate4pay">
                          <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                          </form>
        
                          <input type="button" class="packeageit" id="pdate4" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
        
                          <p style="margin-bottom: 20px;" id="pdate4p"></p>


                          <form class="payform" action="/bookpsnl5?dis=obesity" method="POST" > 
                            <script
                                src="https://checkout.razorpay.com/v1/checkout.js"    
                                data-key="rzp_live_HOaVghw8NAgasf" 
                                data-amount="1100"
                                data-currency="INR"
                                data-name="Pay With RAZORPAY"
                                
                            >
                           </script>
                            <input type="submit" class="packeageit" id="pdate5pay">
                            <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                            </form>
          
                            <input type="button" class="packeageit" id="pdate5" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
          
                            <p style="margin-bottom: 20px;" id="pdate5p"></p>
                          </center>
               
            </div>
        </div>
      </div>
    
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: orangered" >Symptoms :</span><br>
          <ol>
                            <li> 
                           Breathlessness even on little exertion / physical activity.   
							  </li> <br>
                            <li>
                             Lack of interest in doing work.
							 </li><br>
                            <li>
                              Profuse sweating with foul body odor
							  </li><br>
                            <li>
                              Excessive hunger.
							  </li><br>

							  <li>
                              Feeling of tiredness.
							  </li><br>

                             <li>
							 Excessive sleep.
                               </li> 
						   </ol>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: orangered">Home Remedies :</span> <br>
			  <ol>
				  <li>
					  To prepare this home remedy, you need to mix 4 tbsp of lemon juice, 1 tbsp of honey
					  and 1 tsp of black pepper to 250 ml of lukewarm water. One glass of this mixture if drank
					  on an empty stomach in the morning can help in rapid weight loss.
				  </li>
				  <br>
					  <li>
						  Jeera water can be prepared with just a snap of your finger (not literally, just kidding). I
						  mean it is quite simple. Pour 2 tablespoons of jeera seeds in a jar of water and leave
						  overnight. Drink it first thing in the morning on an empty stomach.
					  </li>
					  <br>

						  <li>
							  You can easily consume the combination of methi , ajwayan , kali jeera ingredients by
							  preparing its water. You would firstly need to roast these ingredients separately and grind
							  them together to make its powder. You can then add it in lukewarm water in morning empty
							  stomach or simply enjoy it with cold buttermilk during hot summer days. An amazing
							  combination, delicious and healthy! One glass of this water or buttermilk per day is
							  appropriate before a main meal
						  </li>

					  </ol>
        </div>
      </div>
    </div>
  </div>




		  <div class="row">

		  <div class="col s12 m12">
			  <div class="card white darken-1">
				  <div class="card-content black-text">
					  <span class="card-title" style="color: orangered">
						  <b> Other Facts & Information :</b>
					  </span>
					  <ol>
						  <li>
							  <b>OBESITY :</b>
							  <ul>
								  <li>
									  In Ayurveda, Atisthaulya (Obesity) is described as excessive accumulation
									  of Meda (fat/adipose tissue) and Mamsa (flesh/muscle tissue) leading to
									  flabbiness of hips, abdomen, and breast. It is considered as one of
									  Santarpanottha Vikaras (disease due to consumption of excessive calories)
									  in Ayurveda. Medodushti (disorders of fat metabolism) may be one of the
									  risk factors for Ischemic Heart Disease (IHD).
								  </li>
							  </ul>
						  </li>
						  <br>
							  <li>
								  <b>CAUSES OF OVERWEIGHT/OBESITY :</b>
								  <ul>
									  <li>
										  Increased intake of energy-dense foods that are high in fat,
										  carbohydrates
									  </li>

									  <li>
										  Overeating and Irregular food habits
									  </li>

									  <li>
										  Lack of Physical activities due to sedentary life style
									  </li>

									  <li>
										  Genetics, endocrine disorders, Medical Reasons or Psychiatric illness
									  </li>

									  <li>
										  Day – time sleeping
									  </li>
								  </ul>
							  </li>
							  <br>

								  <li>

									  <b>TREATMENTS :</b>
									  <ul>
										  <li>
											  PREVENTIVE MEASURES Unhealthy diet results in building up of adipose
											  tissue in the body resulting in weight gain and obesity. Physical activity
											  lessens the energy imbalance between calories consumed on one hand,
											  calories expended on the other hand resulting in weight gain and obesity.
											  Hence, intake of healthy diet comprising of sufficient fibre, adopting
											  active life style and practicing Yoga and Meditation to manage stress and
											  fatigue are highly recommended for the prevention of Overweight /
											  Obesity. Life Style modifications such as
											  <ol>
												  <li>
													  Mild to Moderate exercise according to individual capacity.
												  </li>

												  <li>
													  Regular habit of Brisk morning walk for 30 minutes.
												  </li>

												  <li>
													  Avoid sedentary habits.
												  </li>
												  <li>
													  Avoid excessive sleep.
												  </li>

												  <li>
													  Avoid watching TV while having food.
												  </li>

												  <li>
													  Avoid Alcohol and Smoking
												  </li>
											  </ol>
										  </li>
										  <li>
											  <b>Do's:</b>
											  <ol>
												  <li>
													  Take low-fat and low-calorie food items. 
												  </li>
												  <li>
												  Take more proteins to stay
												  longer without food.
												  </li>
													  <li>
													  Steamed/ boiled and baked vegetables rather than fried
												  </li>

												  <li>
													  Take frequent small meals to avoid food cravings.
												  </li>

												  <li>
													  Drink skimmed milk instead of whole milk.
												  </li>

												  <li>
													  Take Healthy foods such as – oatmeal, walnuts, salads, bitter gourd
													  (Karela), drumstick (Shigru), barley (Yava), wheat, Green gram (Moong dal),
													  honey (Madhu), Indian Gooseberry (Amla), pomegranate (Anar) and snake
													  gourd etc and skimmed Buttermilk. Include cabbage in daily meal. It will
													  stop the conversion of sugars to fat.  Use warm water for drinking.
													  Include lemon in diet and drinks.
												  </li>
											  </ol>
										  </li>


										  <li>
											<b>  Dont's:</b>
											  <ol>
												  <li>
													  High carbohydrate vegetables like – potato, rice etc
												  </li>

												  <li>
													  More sugary or sweet products, more dairy products, fried and oily foods,
													  fast foods, excess salt.
												  </li>

												  <li>
													  Salty foods or excessive salt in meals.
												  </li>

											  </ol>
										  </li>

									  </ul>


								  </li>
								  <br>

									  <li>
										  <b>VERY EFFECTIVE DIET FOR WEIGHT LOSS :</b>
										  <ol>
											  <li>
												  Tomato up to one
											  </li>

											  <li>
												  Thin Buttermilk (Add salt and jeera powder if you want)
											  </li>

											  <li>
												  Dilute-tea-25% milk + 75% water
												  ,Black tea/Black coffee/ green tea
											  </li>


											  <li>
												  Lemon Water
											  </li>


											  <li>
												  Coconut water without pulp (Malai)
											  </li>


											  <li>
												  Clove
											  </li>
										  </ol>
									  </li>
									  <br>

											   

										   </ol>

				  </div>
			  </div>
		  </div>
</div>


		  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">About us ...</span> <br>
          <p> drhealthcart.com is medical website helping patient to treat their diseases which is <b>Completely based on Ayurved</b>. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
          </div>
        <div class="card-action">
          <a style="text-transform: none;font-size: 22px;" href="/"> <b>  www.drhealthcart.com</b> </a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>

<br><br><br><br><br>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="dis.js"></script>

<script>
          $(document).ready(function()
  {
      document.cookie = "redirect=obesity;";
      })
  </script>
  
   
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
       <!--For sign-in with google button-->
      <script>
          function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
          }
          function onFailure(error) {
            console.log(error);
          }
          function renderButton() {
            gapi.signin2.render('my-signin2', {
              'scope': 'profile email',
              'width': 240,
              'height': 50,
              'longtitle': true,
              'theme': 'dark',
              'onsuccess': onSuccess,
              'onfailure': onFailure
            });
          }
        </script>
      
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    </body>
  </html>