<!--user is signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis_2.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }

      </script>
   
    </head>
    <body style="background: whitesmoke;">
        <div class="headerlogo">
            <center>
              <p >
                  Other Disease
              </p>
                
            </center>

          </div>
                

      <div class="myactivitybutton"> 
          
          <a href="myactivity" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left" >account_box</i>My Activity</a>
         
      </div>
 <br>
 

<div class="mycard2">
 
  <div class="row">
 
  <div class="row">
    <div class="col s12 m12">
      <div class="card White darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: #7C216F;">               
            <i class="material-icons right medium" >contact_phone</i><b>Book Phone Call Appoinment</b>  </span> 
      
        
           <div class="warn">
             <center>
                <p id="cdatep"></p>
             </center>
                
              
             </div>
          
                 <p> <b> Select Date :</b>  </p>
                 <br><br>
                 <center>
                 <form class="payform" action="/bookcall?dis=other_disease" method="POST" > 
                   <script
                       src="https://checkout.razorpay.com/v1/checkout.js"    
                       data-key="rzp_live_HOaVghw8NAgasf" 
                       data-amount="10000"
                       data-currency="INR"
                       data-name="Pay With RAZORPAY"
                       
                   >
                  </script>
                   <input type="submit" class="packeageit" id="cdatepay">
                   <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                   </form>

                   <input type="button" class="packeageit" id="cdate" value="click me" onclick="fullnotice(this.id,this.value)">

                   



                   <form class="payform" action="/bookcall1?dis=other_disease" method="POST" > 
                     <script
                         src="https://checkout.razorpay.com/v1/checkout.js"    
                         data-key="rzp_live_HOaVghw8NAgasf" 
                         data-amount="10000"
                         data-currency="INR"
                         data-name="Pay With RAZORPAY"
                         
                     >
                    </script>
                     <input type="submit" class="packeageit" id="cdate1pay">
                     <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                     </form>

                     <input type="button" class="packeageit" id="cdate1" value="click me" onclick="fullnotice(this.id,this.value)">

                     <p style="margin-bottom: 20px;" id="cdate1p"></p>

                     <br><br>

                     <form class="payform" action="/bookcall2?dis=other_disease" method="POST" > 
                       <script
                           src="https://checkout.razorpay.com/v1/checkout.js"    
                           data-key="rzp_live_HOaVghw8NAgasf" 
                           data-amount="10000"
                           data-currency="INR"
                           data-name="Pay With RAZORPAY"
                           
                       >
                      </script>
                       <input type="submit" class="packeageit" id="cdate2pay">
                       <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                       </form>

                       <input type="button" class="packeageit" id="cdate2" value="click me" onclick="fullnotice(this.id,this.value)">

                       <p style="margin-bottom: 20px;" id="cdate2p"></p>

                       

                       <form class="payform" action="/bookcall3?dis=other_disease" method="POST" > 
                         <script
                             src="https://checkout.razorpay.com/v1/checkout.js"    
                             data-key="rzp_live_HOaVghw8NAgasf" 
                             data-amount="10000"
                             data-currency="INR"
                             data-name="Pay With RAZORPAY"
                             
                         >
                        </script>
                         <input type="submit" class="packeageit" id="cdate3pay">
                         <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                         </form>

                         <input type="button" class="packeageit" id="cdate3" value="click me" onclick="fullnotice(this.id,this.value)">

                         <p style="margin-bottom: 20px;" id="cdate3p"></p>
                         <br><br>

                         <form class="payform" action="/bookcall4?dis=other_disease" method="POST" > 
                           <script
                               src="https://checkout.razorpay.com/v1/checkout.js"    
                               data-key="rzp_live_HOaVghw8NAgasf" 
                               data-amount="10000"
                               data-currency="INR"
                               data-name="Pay With RAZORPAY"
                               
                           >
                          </script>
                           <input type="submit" class="packeageit" id="cdate4pay">
                           <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                           </form>
 
                           <input type="button" class="packeageit" id="cdate4" value="click me" onclick="fullnotice(this.id,this.value)">
 
                           <p style="margin-bottom: 20px;" id="cdate4p"></p>

                           

                           <form class="payform" action="/bookcall5?dis=other_disease" method="POST" > 
                             <script
                                 src="https://checkout.razorpay.com/v1/checkout.js"    
                                 data-key="rzp_live_HOaVghw8NAgasf" 
                                 data-amount="10000"
                                 data-currency="INR"
                                 data-name="Pay With RAZORPAY"
                                 
                             >
                            </script>
                             <input type="submit" class="packeageit" id="cdate5pay">
                             <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                             </form>
   
                             <input type="button" class="packeageit" id="cdate5" value="click me" onclick="fullnotice(this.id,this.value)">
   
                             <p style="margin-bottom: 20px;" id="cdate5p"></p>


                           </center>
                  

                 <!-- <a href="/tdbookphonecall?dis=other_disease" ><button class="packeageit"></button> </a>  
                     <a href="/twbookphonecall?dis=other_disease" ><button id="cdate1" class="packeageit"></button></a>  
                     <a href="/dtwbookphonecall?dis=other_disease" ><button id="cdate2" class="packeageit"></button></a> <br>
                     <a href="/tdbookphonecall?dis=other_disease" ><button id="cdate3" class="packeageit"></button> </a>  
                     <a href="/twbookphonecall?dis=other_disease" ><button id="cdate4" class="packeageit"></button></a>  
                     <a href="/dtwbookphonecall?dis=other_disease" ><button id="cdate5" class="packeageit"></button></a> 
               
                -->
                
            
        </div>
    </div>
  </div>














      <div class="row">
        <div class="col s12 m12">
          <div class="card White darken-1">
            <div class="card-content black-text">
      
              <span class="card-title" style="color: #7C216F;"><i class="material-icons right medium" >local_hospital</i><b>Personal Appoinment</b>   </span> <br>
              <p> 
               <b> Dr. HealthCart Clinic, </b>   <br>
                Vishal Residency, <br>
                Near Yamaha Showroom, <br>
                Mumbai-Pune Highway, <br>
                Kasarwadi, Pune, <br>
                Pincode - 411034, <br>
                Maharashtra,
                India. <br>
              </p>
      
                <div class="warn">
              
                    <center>
                        <p id="pdatep"></p>
                     </center>
                        
            
                </div>       <br>   
                 <p> <b> Select Date :</b>  </p>
                <br><br>
<center>
                <form style="display: none" action="/bookpsnl?dis=other_disease" method="POST" > 
                  <input type="submit" class="packeageit" id="pdatepay">
                  </form>

                  <input type="button" class="packeageit" id="pdate" value="click me" onclick="fullnoticepsnl(this.id,this.value)">

                  



                  <form style="display: none" action="/bookpsnl1?dis=other_disease" method="POST" > 
                    <input type="submit" class="packeageit" id="pdate1pay">
                    </form>
  
                    <input type="button" class="packeageit" id="pdate1" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
  
                    <br><br>

                    <form style="display: none" action="/bookpsnl2?dis=other_disease" method="POST" > 
                      <input type="submit" class="packeageit" id="pdate2pay">
                      </form>
  
              
  
  
                      <input type="button" class="packeageit" id="pdate2" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
    
                      <p style="margin-bottom: 20px;" id="pdate2p"></p>


                      <form style="display: none" action="/bookpsnl3?dis=other_disease" method="POST" > 
                        <input type="submit" class="packeageit" id="pdate3pay">
                        </form>

                  
                        <input type="button" class="packeageit" id="pdate3" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
      
                        <p style="margin-bottom: 20px;" id="pdate3p"></p>


                        <br><br>

                        <form style="display: none" action="/bookpsnl4?dis=other_disease" method="POST" > 
                          <input type="submit" class="packeageit" id="pdate4pay">
                          </form>
        
        
                          <input type="button" class="packeageit" id="pdate4" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
        
                          <p style="margin-bottom: 20px;" id="pdate4p"></p>


                          <form style="display: none" action="/bookpsnl5?dis=other_disease" method="POST" > 
                            <input type="submit" class="packeageit" id="pdate5pay">
                            </form>
        
                       
                            <input type="button" class="packeageit" id="pdate5" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
          
                            <p style="margin-bottom: 20px;" id="pdate5p"></p>
                          </center>
               
            </div>
        </div>
      </div>
    
  
  

  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">About us ...</span> <br>
          <p> drhealthcart.com is medical website helping patient to treat their diseases which is <b>Completely based on Ayurved</b>. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,other_disease etc.
          </div>
        <div class="card-action">
          <a style="text-transform: none;font-size: 22px;" href="/"> <b>  www.drhealthcart.com</b> </a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>

<br><br><br><br><br>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="disother.js"></script>

<script>
          $(document).ready(function()
  {
      document.cookie = "redirect=other_disease;";
      })
  </script>
  
   
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
       <!--For sign-in with google button-->
      <script>
          function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
          }
          function onFailure(error) {
            console.log(error);
          }
          function renderButton() {
            gapi.signin2.render('my-signin2', {
              'scope': 'profile email',
              'width': 240,
              'height': 50,
              'longtitle': true,
              'theme': 'dark',
              'onsuccess': onSuccess,
              'onfailure': onFailure
            });
          }
        </script>
      
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    </body>
  </html>