<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dr Health Cart</title>
    <link rel="icon" sizes="192x192" href="images/logo.jpeg">
    <meta name="theme-color" content="#7C216F" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_INEd2xfIlKzsU2RcuqTmrCMo00XtCbB5lM"
          data-amount="999"
          data-name="Dr. Health Cart"
          data-description="Your paying for 1 Month Medicine"
          data-image="images/sample-10.jpg"
          data-locale="auto">
        </script>
      </form>    

</body>
</html>
