<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
          <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
          <link rel="stylesheet" href="dis.css">
    
          <!--For sign in with google button -->
          <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    
          <!--Let browser know website is optimized for mobile-->
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script>

setTimeout(function(){ 
    

    var mesplit = document.cookie.split('=');
    window.location.href = "http://drhealthcart.com/myactivity";

 }, 3000);


    </script>
</head>
<body>

<div id="topsignindiv">
        <div id="topsignindivinner" style="padding: 10px">
                <p style="color: purple;">   <br>
                    
                       
                            Your payment done successfully !
                            we are redirecting you to your activity page, please wait...  

                  <br>  </p> <br>
   
             
        </div>

      </div>
</body>
</html>