<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <div class="headerlogo">
            <center>
              <p >
                  Pimples (Acne)
              </p>
                
            </center>

          </div>

                

      
        <br>
      <div class="mycard">
          <div class="col s12 m12">
              <div class="card" style="background: #7C216F">
                  <div class="card-image">
                    <center>
                
                        <p style="color:white;font-size: 32px;">
                            Restore your  health  <a href="https://en.wikipedia.org/wiki/Ayurveda" style="color:#00FF00;">naturally </a> with <br> Dr. Health Cart !
                            <a href="#" id="signinbutton" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left">account_box</i>Sign in with Google</a>
        
                          </p>
                          
                    </center>
                      <img src="images/pimples.jpg">
                    </div>
              
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                                Whiteheads
                            </li> <br>
                            <li>
                                Blackheads
							 </li><br>
                            <li>
                                Pimples
							 </li><br>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            Prepare a powdered mixture of coriander seeds, fennel, basil, turmeric and Indian gooseberry (amla) in equal parts.
                             Take ½ teaspoon of this powder 15 minutes before lunch and dinner.
						  </li><br>
                            <li>
                                Have 1 teaspoon of powdered Indian gooseberry fruit (amla) in morning and evening with water.
							</li><br>

                          <li>
                            Home remedies are not acne treatment, these may give you some relief. For personalized acne treatment, talk to our doctor today.
						</li> <br>

						 <li>
                            Take one teaspoon of coriander juice mixed with a pinch of turmeric powder. Drink twice daily.
						</li> <br>
                        </ol>
                       
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text">
                          <span class="card-title" style="color: orangered">
                            <b> Other Facts & Information  :</b>
                          </span>
                          <ol>
                            <li>
                              <b>Pimples/ Acne :</b>
                              <ul>
                                <li>
                                    Acne is a skin condition in which there is excess production of oil from the sebaceous glands leading to the blockage of hair follicles. 
                                    It is the most common problem of adolescents, and is therefore known as Yauvanpidika .                         
                                </li>
                                <br>
                                <li>In Ayurveda; yauvan means ‘adolescence’ and pidika means ‘pustules or papules’. 
                                  Acne usually affects the face, back and shoulders and other areas that are densely populated with sebaceous glands. 
                                  Acne presents either as blackheads, whiteheads, pimples or nodules. Ayurveda provides effective root-cause acne treatment.
                                </li>
                              </ul>
                            </li>
                            <br>
                            <br>
                              <li>
                                <b>Causes:</b>
                                <ul>
                                  <li>
                                      The primary cause is impairment of all the three doshas, predominantly the pitta dosha, 
                                      which further vitiates the rakta and meda dhatus (blood and fat tissues). Vitiated doshas produce toxins that 
                                      block the energy channels of the face leading to pimple formation. 
                                      The condition of acne can also be aggravated by excessive intake of oily, spicy, salty and sour foods.
                                  </li>
                                 </ul>
                              </li>
                              <br>
                              <li>
                                 <b>Ayurvedic Acne Treatment: </b>
                                 <ul >
                                   <li>
                                      Ayurveda has a singular approach to all forms of acne treatment as this problem appears due to imbalance of the three doshas —vata,
                                       pitta and kapha. However, the main cause is the aggravation of the pitta dosha, an 
                                       Ayurvedic humor that symbolizes heat or fire. Pitta dosha manifests in the skin and causes accumulation of heating toxins. 
                                       These heating toxins accumulate in deep tissues like rasa (nutrient plasma), rakta, (blood), mamsa (muscles) and lasika (lymphatic). 
                                       These toxins cause contamination of deeper tissues, leading to the condition of Yauvanpidika. Because acne is deep-rooted,
                                        use of local creams, antibiotics and lotions only masks the symptoms. Thus, specific Ayurvedic acne treatment is advised which includes 
                                        right diet, 
                                      lifestyle and some specialized herbal combinations that tackle the disease from its root cause.
                                   </li>
                                  
                                 </ul>
                              </li>
                              <br>
                              <li>
                                <b>Diet & Lifestyle Advice :</b>
                                <ol>
                                  <li>
                                     Avoid spicy, oily and sour foods.
                                  </li>
                                  <br>
                                  <li>
                                     Eat fresh, unprocessed food.
                                   </li>
                                   <br>
                                   <li>
                                     Increase the use of herbs that have cooling effects on the body like fennel, coriander seeds, Indian gooseberry (amla) and aloe vera.
                                     </li>
                                     <br>
                                     <li>
                                       Increase intake of water to about 8-10 glasses per day.
                                     </li>
                                     <br>
                                     <li>
                                       Wash your face frequently with mild herbal soaps.
                                     </li>
                                     <br>
                                     <li>
                                       Avoid irritant cosmetics.
                                     </li>
                                     <li>
                                       Do not squeeze the acne lesions.
                                     </li>
                                     <br>
                               </ol>
                              </li>  
                           </ol>
           
                        </div>
                      </div>
                    </div>

             
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit" style="background: #546e7a;color: white;">  
                                <i class="material-icons small right">business_center</i>
                                <b>
                                    Buy Medicines
                                </b> </button>
                              
                              <button class="packeageit" > 
                                  <i class="material-icons small right">call</i>  <b>
                                      Online Consultation
                                  </b> 
                                </button>

                                
        
                          </center>

                      <center>
                          <button class="packeageit" >
                              <i class="material-icons small right">add_box</i>  
                            <b>
                                Personal Appointment
                            </b> </button>
  
                      </center>  
                      <div style="background: #FCE2E1;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <ul>
                              <li>
                                <b> 
                              </li>
                              <br>
                              <li>
                                <b>&nbsp;Free 10% discount : </b> 
                                &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                              </li>
                              <br>
                              <li>
                                  <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                                </li>
                                <br>
                                <li>
                                    <b>&nbsp;Ayurvedic Treatment Kit contains :</b>
                                    <ol>
                                        <li>&nbsp;Ayurvedic Tablets.</li>
                                        <li>&nbsp;Ayurvedic powder . </li>
                                        <li>&nbsp;External Application for Pimples .</li>
                                        <li>&nbsp;Pimples Diet Chart  </li>
                                        <li>&nbsp;Yoga , Pranayam ,Exercise Guidance.</li>     
                                        <li>&nbsp;Doctor Support ( 11AM to 7 PM )</li>
                                    </ol> 
                                </li>
                            </ul>
                      </div>    <br>
                      <div style="background: #FFFF99;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <b>  Benefits of Ayurvedic Treatment</b><br>  
                        <ol>
                           
                              <li>
                                  100% Herbal                               
                              </li>
                              
                              <li>
                                No side effects 
                              </li>
                             
                              <li>
                                  Cure from the roots
                              </li>
                               
                                <li>
                                    Environmental Friendly
                                </li>
                                <li>
                                    No Chemical Ingredients
                                </li>
                                <li>
                                    Result Oriented 
                                </li>
                              
                            </ol>
                      </div>    
                         
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to treat their diseases which is Completely based on Ayurved. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          You can click below link to visit our website ..
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/">   www.drhealthcart.com </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>

<div class="cookie-bar" id="hidecookie">
    <center>
        <button onclick="hidecookie()"> Accept </button>
        <p> This website uses cookies, <a href="/terms_and_conditions">learn more</a> </p> 
    </center>
  </div>
  
  <script>

      var cookiestore =  localStorage.getItem("cookie");  
      if (cookiestore == "showed")
      {
        document.getElementById("hidecookie").style.display="none";
      
      }
        function hidecookie()
        {
          document.getElementById("hidecookie").style.display="none";
          localStorage.setItem("cookie","showed");  
        }
      </script>
        

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=pimples;";
    window.location.href = "/auth/google?destination=pimples";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=pimples;";
    window.location.href = "/auth/google?destination=pimples";    
      })

      $(".packeageit").click(function()
  {
    $("#topsignindiv").hide();
    $("#topsignindiv").show(1000);
        
    $('html, body').animate(
        {
            scrollBottom: $("#topsignindiv").offset().top
        },
         2000);
    
  }) 


    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>