<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  

    <script>
    var mesplit = document.cookie.split('=');
	
    window.location.href = "http://www.drhealthcart.com/"+mesplit[1];    
    </script>
</head>
<body>
    
redirecting you at your previous position, please wait...    
</body>
</html>