<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
      <script>
    setTimeout(function()
    {
        var mesplit = document.cookie.split('=');
        window.location.href = "www.drhealthcart.com/"+mesplit[1];    
    },6000);

    </script>    
</head>
<body>
    <p>Sorry all appoinemts of today are booked... , select another day</p>
    <p> We are redirecting you back at your position, please wait................</p>
</body>
</html>