<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />
  
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
		  <style>
			  ul{
			  list-style-type: square;
			  }

		  </style>
    </head>
    <body style="background: whitesmoke">

        <div class="headerlogo">
            <center>
              <p >
                  Spondylosis
              </p>
                
            </center>

          </div>

                

      
        <br>
      <div class="mycard">
          <div class="col s12 m12">
              <div class="card" style="background: #7C216F">
                  <div class="card-image">
                    <center>
                
                        <p style="color:white;font-size: 32px;">
                            Restore your  health  <a href="https://en.wikipedia.org/wiki/Ayurveda" style="color:#00FF00;">naturally </a> with <br> Dr. Health Cart !
                            <a href="#" id="signinbutton" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left">account_box</i>Sign in with Google</a>
        
                          </p>
                          
                    </center>
                      <img src="images/spondylosis.jpg">
                    </div>
              
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              Tingling, numbness, and/or weakness in the arms, hands, legs, or feet.
							  </li> <br>
                            <li>
                              Lack of coordination and difficulty walking.
							  </li><br>
                            <li>
                              Abnormal reflexes.
							  </li><br>
                            <li>
                              Muscle spasms.
							  </li><br>
                             <li>
							 Loss of control over bladder and bowel (incontinence)
                              </li>
							  </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            <b>Stretching : </b>
							Stretching helps build flexibility and may reduce pain. Consider adding the spine stretch or the low-back rotation stretch to your daily routine. 
							</li><br>
                            <li>
                                <b> Heat therapy : </b> 
								Apply a hot water bottle or heating pad to the affected area to reduce stiffness and pain. You may also use moist or dry heat. A warm bath may also help, especially before exercise. Dont use heat therapy without consulting your doctor if you have diabetes, deep vein thrombosis, vascular disease, an open wound, or a skin condition such as dermatitis. 
								</li><br>

                          <li>
                            <b>Cold therapy : </b>
						Applying an ice pack, cold gel pack, or a bag of frozen vegetables to painful joints can help reduce swelling. After exercise, cold therapy may help reduce inflammation. Dont apply ice for more than 20 minutes at a time. Dont use cold therapy without consulting your doctor if you have circulation problems. 	
						</li><br> 
                         
                          <li>
                            <b>Massage therapy : </b> 
							Massage helps you relax. It may also help you feel more flexible or loose so that you can exercise or stretch. Massage may cause pain at tender points around your spine. If this happens, avoid those areas and only use light massage techniques until the pain improves.
							</li>
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>





			   <div class="col s12 m12">
				   <div class="card white darken-1">
					   <div class="card-content black-text">
						   <span class="card-title" style="color: orangered">
							   <b> Other Facts & Information :</b>
						   </span>
						   <ol>
							   <li>
								   <b>Spondylosis :</b>
								   <ul>
									   <li>
										   "spondylosis" refers to degenerative changes in the spine such as bone spurs and degenerating inter-
										   vertebral discs. Spondylosis is more of a descriptive term than it is a clinical diagnosis. The term

										   Spondylo means the vertebrae and Lysis means disintegration. And in today’s world it has come to
										   embody a general term for age-related wear and tear of the spinal discs.
										   Degenerative Spondylosis can occur in the cervical spine (neck spondylosis), thoracic spine (upper and
										   mid back), or lumbar spine (low back). Lumbosacral spondylosis is spondylosis that affects both the
										   lumbar spine and the sacral spine (below the lumbar spine, in the mid line between the buttocks). While
										   Spondylosis causes majorly is deterioration of the vertebrae, Spondylosis symptoms range wide
										   including pain, numbness and tingling. Multilevel spondylosis means that these changes affect multiple
										   vertebrae in the spine.
									   </li>


									   <li>
										   Spondylosis Vs Spondylitis:These are two medical terms that sound similar but are different
										   conditions. Spondylitis is inflammation of one or more vertebrae, such as in ankylosing spondylitis, an
										   inflammatory form of arthritis of the spine. This is a very different process than spondylosis because
										   spondylosis is degenerative while spondylitis is inflammatory.
									   </li>


									   <li>
										   Spinal stenosis, a condition associated with Spondylosis, is a narrowing of the spinal canal that limits
										   the amount of space for the spinal cord and nerves. This puts pressure on the spinal cord and nerves
										   due to limited space, causing pain, numbness, and tingling.
									   </li>


									   <li>
										   Sciatica, also associated with spondylosis, is pain shooting down the sciatic nerve as it runs from the
										   low back down the buttock and the leg, either on one side or both sides. Sciatica often occurs when a
										   herniated disc puts pressure on the sciatic nerve as it exits the spinal canal in the low back.
									   </li>
								   </ul>
							   </li>
							   <br>
								   
									   <li>

										   <b>Ayurvedic Spondylitis and Spondylosis Treatment :</b>
										   <ol>
											   <li>
												   DRHEALTHCART Ayurveda Treatment for Spondylitis and Spondylosis help relieve the symptoms
												   like, pain, stiffness, loss of strength and numbness associated with even the complications like Sciatica
												   and Spondylolisthesis.
											   </li>
											   <li>
												   The medicines, which act as measures at Spondylosis care, help prevent further deterioration and
												   impede the chances of recurrence. In our Spondylosis care, we assuage the need for surgery and
												   improve quality of life. Time-tested, safe and effective, DRHEALTHCART ayurveda treatments.
											   </li>
										   </ol>


									   </li>
									   <br>

										  

											   

										   </ol>

					   </div>
				   </div>
			   </div>













			   <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit" style="background: #546e7a;color: white;">  
                                <i class="material-icons small right">business_center</i>
                                <b>
                                    Buy Medicines
                                </b> </button>
                              
                              <button class="packeageit" > 
                                  <i class="material-icons small right">call</i>  <b>
                                      Online Consultation
                                  </b> 
                                </button>

                                
        
                          </center>

                      <center>
                          <button class="packeageit" >
                              <i class="material-icons small right">add_box</i>  
                            <b>
                                Personal Appointment
                            </b> </button>
  
                      </center>
							<div style="background: #FCE2E1;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
								<ul>
									<li>
										<b> 
                              </li>
									<br>
										<li>
											<b>&nbsp;Free 10% discount : </b>
											&nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
										</li>
										<br>
											<li>
												<b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
											</li>
											<br>
												<li>
													<b>&nbsp;Ayurvedic Treatment Kit contains :</b>
													<ol>
														<li>&nbsp;Ayurvedic Tablets.  </li>
														<li>&nbsp;Ayurvedic powder .  </li>
														<li>&nbsp;External Application for Allergy</li>
														<li>&nbsp;Allergy  Diet Chart  </li>
														<li>&nbsp;Yoga , Pranayam ,Exercise Guidance</li>
													</ol>
												</li>
											</ul>
							</div>
							<br>
								<div style="background: #FFFF99;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
									<b>Benefits of Ayurvedic Treatment</b>
									<ol>
										<li>
											100% Herbal/Ayurvedic
										</li>

										<li>
											No side effects
										</li>

										<li>
											Cure from the roots
										</li>

										<li>
											Environmental Friendly
										</li>
										<li>
											No Chemical Ingredients
										</li>
										<li>
											Result Oriented
										</li>

									</ol>
								</div>

								<br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to treat their diseases which is Completely based on Ayurved. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          You can click below link to visit our website ..
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/">   www.drhealthcart.com </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>

<div class="cookie-bar" id="hidecookie">
    <center>
        <button onclick="hidecookie()"> Accept </button>
        <p> This website uses cookies, <a href="/terms_and_conditions">learn more</a> </p> 
    </center>
  </div>
  
  <script>

      var cookiestore =  localStorage.getItem("cookie");  
      if (cookiestore == "showed")
      {
        document.getElementById("hidecookie").style.display="none";
      
      }
        function hidecookie()
        {
          document.getElementById("hidecookie").style.display="none";
          localStorage.setItem("cookie","showed");  
        }
      </script>
        

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=spondylosis;";
    window.location.href = "/auth/google?destination=spondylosis";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=spondylosis;";
    window.location.href = "/auth/google?destination=spondylosis";    
      })

      $(".packeageit").click(function()
  {
    $("#topsignindiv").hide();
    $("#topsignindiv").show(1000);
        
    $('html, body').animate(
        {
            scrollBottom: $("#topsignindiv").offset().top
        },
         2000);
    
  }) 


    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>