<!--user is signed in-->
<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dr Health Cart</title>
        <link rel="icon" sizes="192x192" href="images/logo.jpeg">
        <meta name="theme-color" content="#7C216F" />

      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis_2.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }

      </script>
    <style>
			  ul{
			  list-style-type: square;
			  }

		  </style>
    </head>
    <body style="background: whitesmoke;">

        <div class="headerlogo">
            <center>
              <p >
                  Thyroid
              </p>
                
            </center>

          </div>

      <div class="myactivitybutton"> 
          
          <a href="myactivity" class="waves-effect white black-text btn" style="text-transform: none;"><i class="material-icons left" >account_box</i>My Activity</a>
         
      </div>
 <br>
 

<div class="mycard2">
 
  <div class="row">
    <div class="col s12 m12">
      <div class="card White darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: #7C216F;"><b>Buy Medicines</b>  <i class="material-icons right medium" >add_shopping_cart</i>  </span> <br>
          <p>
              <b>Research & Result based  <a href="https://en.wikipedia.org/wiki/Ayurveda">Ayurveda </a>  Treament </b> 
            <ol> 
                           
              <li> 100% Herbal</li>
              <li> No side effects. </li>
              <li> Higher Concentration.</li>
              <li> Lower Dose.</li>
              <li> Better Bio Availability.</li>
              
            </ol>
          </p>
     
        <center>

          <form action="/placeorder?dis=thyroid" method="POST"> 
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"    
                data-key="rzp_live_HOaVghw8NAgasf" 
                data-amount="359900"
                data-currency="INR"
                
                
            >
            </script>
                   <input type="submit" class="packeageit" value="Buy Medicines">
     
            <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
            </form>
            
          <!-- <a href="/tdbookphonecall?dis=thyroid" ><button  class="packeageit"> Buy Medicines</button> </a>  <br> -->

      </center>
      
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <div class="card White darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: #7C216F;">               
            <i class="material-icons right medium" >contact_phone</i><b>Book Phone Call Appoinment</b>  </span> 
      
        
           <div class="warn">
             <center>
                <p id="cdatep"></p>
             </center>
                
              
             </div>
          
                 <p> <b> Select Date :</b>  </p>
                 <br><br>
                 <center>
                 <form class="payform" action="/bookcall?dis=thyroid" method="POST" > 
                   <script
                       src="https://checkout.razorpay.com/v1/checkout.js"    
                       data-key="rzp_live_HOaVghw8NAgasf" 
                       data-amount="10000"
                       data-currency="INR"
                       data-name="Pay With RAZORPAY"
                       
                   >
                  </script>
                   <input type="submit" class="packeageit" id="cdatepay">
                   <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                   </form>

                   <input type="button" class="packeageit" id="cdate" value="click me" onclick="fullnotice(this.id,this.value)">

                   



                   <form class="payform" action="/bookcall1?dis=thyroid" method="POST" > 
                     <script
                         src="https://checkout.razorpay.com/v1/checkout.js"    
                         data-key="rzp_live_HOaVghw8NAgasf" 
                         data-amount="10000"
                         data-currency="INR"
                         data-name="Pay With RAZORPAY"
                         
                     >
                    </script>
                     <input type="submit" class="packeageit" id="cdate1pay">
                     <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                     </form>

                     <input type="button" class="packeageit" id="cdate1" value="click me" onclick="fullnotice(this.id,this.value)">

                     <p style="margin-bottom: 20px;" id="cdate1p"></p>

                     <br><br>

                     <form class="payform" action="/bookcall2?dis=thyroid" method="POST" > 
                       <script
                           src="https://checkout.razorpay.com/v1/checkout.js"    
                           data-key="rzp_live_HOaVghw8NAgasf" 
                           data-amount="10000"
                           data-currency="INR"
                           data-name="Pay With RAZORPAY"
                           
                       >
                      </script>
                       <input type="submit" class="packeageit" id="cdate2pay">
                       <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                       </form>

                       <input type="button" class="packeageit" id="cdate2" value="click me" onclick="fullnotice(this.id,this.value)">

                       <p style="margin-bottom: 20px;" id="cdate2p"></p>

                       

                       <form class="payform" action="/bookcall3?dis=thyroid" method="POST" > 
                         <script
                             src="https://checkout.razorpay.com/v1/checkout.js"    
                             data-key="rzp_live_HOaVghw8NAgasf" 
                             data-amount="10000"
                             data-currency="INR"
                             data-name="Pay With RAZORPAY"
                             
                         >
                        </script>
                         <input type="submit" class="packeageit" id="cdate3pay">
                         <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                         </form>

                         <input type="button" class="packeageit" id="cdate3" value="click me" onclick="fullnotice(this.id,this.value)">

                         <p style="margin-bottom: 20px;" id="cdate3p"></p>
                         <br><br>

                         <form class="payform" action="/bookcall4?dis=thyroid" method="POST" > 
                           <script
                               src="https://checkout.razorpay.com/v1/checkout.js"    
                               data-key="rzp_live_HOaVghw8NAgasf" 
                               data-amount="10000"
                               data-currency="INR"
                               data-name="Pay With RAZORPAY"
                               
                           >
                          </script>
                           <input type="submit" class="packeageit" id="cdate4pay">
                           <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                           </form>
 
                           <input type="button" class="packeageit" id="cdate4" value="click me" onclick="fullnotice(this.id,this.value)">
 
                           <p style="margin-bottom: 20px;" id="cdate4p"></p>

                           

                           <form class="payform" action="/bookcall5?dis=thyroid" method="POST" > 
                             <script
                                 src="https://checkout.razorpay.com/v1/checkout.js"    
                                 data-key="rzp_live_HOaVghw8NAgasf" 
                                 data-amount="10000"
                                 data-currency="INR"
                                 data-name="Pay With RAZORPAY"
                                 
                             >
                            </script>
                             <input type="submit" class="packeageit" id="cdate5pay">
                             <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                             </form>
   
                             <input type="button" class="packeageit" id="cdate5" value="click me" onclick="fullnotice(this.id,this.value)">
   
                             <p style="margin-bottom: 20px;" id="cdate5p"></p>


                           </center>
                  

                 <!-- <a href="/tdbookphonecall?dis=hairfall" ><button class="packeageit"></button> </a>  
                     <a href="/twbookphonecall?dis=hairfall" ><button id="cdate1" class="packeageit"></button></a>  
                     <a href="/dtwbookphonecall?dis=hairfall" ><button id="cdate2" class="packeageit"></button></a> <br>
                     <a href="/tdbookphonecall?dis=hairfall" ><button id="cdate3" class="packeageit"></button> </a>  
                     <a href="/twbookphonecall?dis=hairfall" ><button id="cdate4" class="packeageit"></button></a>  
                     <a href="/dtwbookphonecall?dis=hairfall" ><button id="cdate5" class="packeageit"></button></a> 
               
                -->
                
            
        </div>
    </div>
  </div>














      <div class="row">
        <div class="col s12 m12">
          <div class="card White darken-1">
            <div class="card-content black-text">
      
              <span class="card-title" style="color: #7C216F;"><i class="material-icons right medium" >local_hospital</i><b>Personal Appoinment</b>   </span> <br>
              <p> 
               <b> Dr. HealthCart Clinic, </b>   <br>
                Vishal Residency, <br>
                Near Yamaha Showroom, <br>
                Mumbai-Pune Highway, <br>
                Kasarwadi, Pune, <br>
                Pincode - 411034, <br>
                Maharashtra,
                India. <br>
              </p>
      
                <div class="warn">
              
                    <center>
                        <p id="pdatep"></p>
                     </center>
                        
            
                </div>       <br>   
                 <p> <b> Select Date :</b>  </p>
                <br><br>
<center>
                <form class="payform" action="/bookpsnl?dis=thyroid" method="POST" > 
                  <script
                      src="https://checkout.razorpay.com/v1/checkout.js"    
                      data-key="rzp_live_HOaVghw8NAgasf" 
                      data-amount="1100"
                      data-currency="INR"
                      data-name="Pay With RAZORPAY"
                      
                  >
                 </script>
                  <input type="submit" class="packeageit" id="pdatepay">
                  <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                  </form>

                  <input type="button" class="packeageit" id="pdate" value="click me" onclick="fullnoticepsnl(this.id,this.value)">

                  



                  <form class="payform" action="/bookpsnl1?dis=thyroid" method="POST" > 
                    <script
                        src="https://checkout.razorpay.com/v1/checkout.js"    
                        data-key="rzp_live_HOaVghw8NAgasf" 
                        data-amount="1100"
                        data-currency="INR"
                        data-name="Pay With RAZORPAY"
                        
                    >
                   </script>
                    <input type="submit" class="packeageit" id="pdate1pay">
                    <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                    </form>
  
                    <input type="button" class="packeageit" id="pdate1" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
  
                    <br><br>

                    <form class="payform" action="/bookpsnl2?dis=thyroid" method="POST" > 
                      <script
                          src="https://checkout.razorpay.com/v1/checkout.js"    
                          data-key="rzp_live_HOaVghw8NAgasf" 
                          data-amount="1100"
                          data-currency="INR"
                          data-name="Pay With RAZORPAY"
                          
                      >
                     </script>
                      <input type="submit" class="packeageit" id="pdate2pay">
                      <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                      </form>
    
                      <input type="button" class="packeageit" id="pdate2" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
    
                      <p style="margin-bottom: 20px;" id="pdate2p"></p>


                      <form class="payform" action="/bookpsnl3?dis=thyroid" method="POST" > 
                        <script
                            src="https://checkout.razorpay.com/v1/checkout.js"    
                            data-key="rzp_live_HOaVghw8NAgasf" 
                            data-amount="1100"
                            data-currency="INR"
                            data-name="Pay With RAZORPAY"
                            
                        >
                       </script>
                        <input type="submit" class="packeageit" id="pdate3pay">
                        <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                        </form>
      
                        <input type="button" class="packeageit" id="pdate3" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
      
                        <p style="margin-bottom: 20px;" id="pdate3p"></p>


                        <br><br>

                        <form class="payform" action="/bookpsnl4?dis=thyroid" method="POST" > 
                          <script
                              src="https://checkout.razorpay.com/v1/checkout.js"    
                              data-key="rzp_live_HOaVghw8NAgasf" 
                              data-amount="1100"
                              data-currency="INR"
                              data-name="Pay With RAZORPAY"
                              
                          >
                         </script>
                          <input type="submit" class="packeageit" id="pdate4pay">
                          <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                          </form>
        
                          <input type="button" class="packeageit" id="pdate4" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
        
                          <p style="margin-bottom: 20px;" id="pdate4p"></p>


                          <form class="payform" action="/bookpsnl5?dis=thyroid" method="POST" > 
                            <script
                                src="https://checkout.razorpay.com/v1/checkout.js"    
                                data-key="rzp_live_HOaVghw8NAgasf" 
                                data-amount="1100"
                                data-currency="INR"
                                data-name="Pay With RAZORPAY"
                                
                            >
                           </script>
                            <input type="submit" class="packeageit" id="pdate5pay">
                            <input type="hidden" id="mypay" custom="Hidden Element" name="hidden">
                            </form>
          
                            <input type="button" class="packeageit" id="pdate5" value="click me" onclick="fullnoticepsnl(this.id,this.value)">
          
                            <p style="margin-bottom: 20px;" id="pdate5p"></p>
                          </center>
               
            </div>
        </div>
      </div>
    
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: orangered" >Symptoms :</span><br>
          <ol>
                            <li> 
                              Fatigue.
							  </li> <br>
                            <li>
                              Weakness.
							  </li><br>
                            <li>
                             Intolerance to cold.
							 </li><br>
                            <li>
                              Muscle aches and cramps.
							  </li><br>
                             <li>
                               Constipation.
							   </li>
							   </ol>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="row">
    <div class="col s12 m12">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title" style="color: orangered">Home Remedies :</span> <br>
         <ol>
                          <li>
                            <b>Seleniuma : </b> 
							According to the National Institutes of Health (NIH), selenium is a trace element that plays a part in thyroid hormone metabolism. Many foods on the market today contain selenium, including grass-fed beef, tuna, turkey, and Brazil nuts. 
							</li><br>
                            <li>
                                <b> Sugar-Free Diet : </b> 
								
								
							Sugar and processed foods can lead to increased inflammation in the body. Inflammation can slow down the conversion of T4 to triiodothyronine, or T3, another thyroid hormone. This can make your symptoms and thyroid disease worsen. </li><br>

                          <li>
                            <b>Soy and coffee : </b> 
							They may lower your body's ability to use hormone medication.
							</li><br> 
                         
                          <li>
                            <b>Kelp and seaweed : </b> 
							You may have heard you should stay away from these because they're high in iodine, which can interfere with your thyroid.
							</li>
                            
                        </ol>
        </div>
      </div>
    </div>
  </div>






		  <div class="row">

		  <div class="col s12 m12">
			  <div class="card white darken-1">
				  <div class="card-content black-text">
					  <span class="card-title" style="color: orangered">
						  <b> Other Facts & Information :</b>
					  </span>
					  <ol>
						  <li>
							  <b>Thyroid problems -Hypothyroidism :</b>
							  <ul>
								  <li>
									  Hypothyroidism may be caused by problems within the thyroid gland that causes
									  insufficient circulation of the thyroid hormone. Symptoms show a decrease in
									  metabolism, with the slowing of mental and physical activity. Patients may
									  experience a variety of differing symptoms such as sensitivity to cold, dryness of
									  the skin, Constipation, Anorexia, Angina pain, Anemia and disordered menstrual
									  function. Hypothyroidism treatment is effective. It is a combination of herbal
									  medicines, which is prepared according to the individual health aspects of the
									  patient, along with personalized diet and lifestyle recommendations.
								  </li>
							  </ul>
						  </li>
						  <br>
							  <li>
								  <b>Causes :</b>
								  <ul>
									  <li>
										  The prime cause of Hypothyroidism is the deficiency of Iodine. In many cases, this
										  disease is caused by pituitary or hypothalamic disease or certain medications.
										  Additionally, there can be other causes diagnosed during consultation, all of which
										  are considered when providing precise, root-cause Hypothyroidism treatment.
									  </li>
								  </ul>
							  </li>
							  <br>

								  <li>

									  <b>Ayurvedic Hypothyroidism Treatment :</b>
									  <ul>
										  <li>
											  Ayurvedic Hypothyroidism treatment involves clearing these channels in order to
											  balance body energies and restore the circulation of thyroxin. Herbal preparations
											  are administered to increase the digestive fire at a cellular level, restoring proper
											  metabolism.
										  </li>
									  </ul>


								  </li>
								  <br>

									  <li>
										  <b>Diet and Lifestyle Advice</b>
										  <ol>
											  <li>
												  Take adequate quantities of milk in your diet
											  </li>

											  <li>
												  Increase intake of rice, barley, Bengal gram, moong dal and cucumber.
											  </li>

											  <li>
												  Coconut oil helps in improving body metabolism in thyroid patients.
											  </li>


											  <li>
												  Avoid heavy and sour foods.
											  </li>

										  </ol>
									  </li>
									  <br>

											   

										   </ol>

				  </div>
			  </div>
		  </div>

</div>


		  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">About us ...</span> <br>
          <p> drhealthcart.com is medical website helping patient to treat their diseases which is <b>Completely based on Ayurved</b>. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
          </div>
        <div class="card-action">
          <a style="text-transform: none;font-size: 22px;" href="/"> <b>  www.drhealthcart.com</b> </a>
        </div>
      </div>
    </div>
  </div>

</div>

</div>

<br><br><br><br><br>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="dis.js"></script>

<script>
          $(document).ready(function()
  {
      document.cookie = "redirect=thyroid;";
      })
  </script>
  
   
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
       <!--For sign-in with google button-->
      <script>
          function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
          }
          function onFailure(error) {
            console.log(error);
          }
          function renderButton() {
            gapi.signin2.render('my-signin2', {
              'scope': 'profile email',
              'width': 240,
              'height': 50,
              'longtitle': true,
              'theme': 'dark',
              'onsuccess': onSuccess,
              'onfailure': onFailure
            });
          }
        </script>
      
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    </body>
  </html>