

.cookie-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background: red;
  }

  .cookie-bar p{
    color: white;
}

.cookie-bar button{
  color: #7C216F;
  background: white;
  border: 1px solid white;
  font-size: 18px;
  float: right;
  border-radius: 15px;
  margin-right: 15px;
}


.headerlogo{
    background: #7C216F;color: white;margin: 0;
  }
  .headerlogo p {
    font-size: 32px;margin: 0;padding: 5px;
  }

@media only screen and (min-width: 600px)
{
    .mycard
    {
        border-radius: 5px;
        background: whitesmoke;
        padding-left: 5%;
        padding-top:2%; 
    }
}

@media only screen and (max-width: 600px)
{
    .mycard
    {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 5px;
    }


}  

/* body
{
    background: green;
} */

.header p
{
    color: #7C216F;
    background: white;
    font-size: 35px;
    float: right;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.tiles
{
  margin-left: 5%;
  margin-right: 5%;
}
  

.tiles img
{
    display: inline;
    height: 210px;
    width: 310px;
  margin: 5px;
    border: 5px solid black;
    border-radius: 5%;
    /* box-shadow: 10px 10px 10px 1px #333; */

}

.drlogo
{
    display: inline;
    height: 290px;
    width: 290px;
  margin: 5px;
    /* border: 5px solid #7C216F; */
    border-radius: 100%;
    box-shadow: 10px 8px 10px 0px #333;

}


.drlogo img
{
    position: relative;
    height: 100%;
    width: 100%;
        border-radius: 100%;

}

.otherdis{
    display: inline;
    height: 100px;
    width: 200px;
  margin: 5px;
    /* border: 5px solid purple; */
     border-radius: 10px; 
    font-size: 18px;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 10px 8px 10px 0px #333;

  
}


.site-footer
{
  background-color:#7C216F;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

