<!--user is not signed in-->
<!DOCTYPE html>
  <html>
    <head>
      <title>Hairfall</title>
      <!--Google font integration for nestimatic head-->
      <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="dis.css">

      <!--For sign in with google button -->
      <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script>
      function myfunction() {
        alert("hello")
      }
      </script>
    </head>
    <body style="background: whitesmoke">

        <nav>
            <div class="nav-wrapper purple">
              <a href="#" class="brand-logo center">Hairfall</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Dr. Health Cart</a></li>
              </ul>
            </div>
          </nav>
                

      
        <br>
      <div class="mycard">
          <div class="col s12 m12">
              <div class="card  purple">
                  <div class="card-image">
                    <center>
                
                        <p style="color:white;font-size: 32px;">
                            Restore your  health  <a href="https://en.wikipedia.org/wiki/Ayurveda" style="color:#00FF00;">naturally </a> with Dr. Health Cart !
                            <a href="#" id="signinbutton" class="waves-effect white black-text btn"><i class="material-icons left">account_box</i>Sign-In with Google</a>
        
                          </p>
                          
                    </center>
                      <img src="images/hairfall.jpg">
                    </div>
              
            </div>
         </div>
      </div>

      <div class="mycard2">
           <div class="row">
                <div class="col s12 m12">
                  <div class="card white darken-1">
                       <div class="card-content black-text">
                          <span class="card-title" style="color: orangered"> <b> Symptoms :</b> </span>
                          <ol>
                            <li> 
                              <b>Gradual thinning on top of head : </b> This is the most common type of hair loss, affecting both men and women as they age. In men, hair often begins to recede from the forehead in a line that resembles the letter M. Women typically retain the hairline on the forehead but have a broadening of the part in their hair.
                            </li> <br>
                            <li>
                              <b>Circular or patchy bald spots : </b> Some people experience smooth, coin-sized bald spots. This type of hair loss usually affects just the scalp, but it sometimes also occurs in beards or eyebrows. In some cases, your skin may become itchy or painful before the hair falls out.
                            </li><br>
                            <li>
                              <b>Sudden loosening of hair : </b> A physical or emotional shock can cause hair to loosen. Handfuls of hair may come out when combing or washing your hair or even after gentle tugging. This type of hair loss usually causes overall hair thinning and not bald patches.  
                            </li><br>
                            <li>
                              <b>Full-body hair loss : </b> Some conditions and medical treatments, such as chemotherapy for cancer, can result in the loss of hair all over your body. The hair usually grows back. 
                             </li><br>
                             <li>
                               <b>Patches of scaling that spread over the scalp : </b> This is a sign of ringworm. It may be accompanied by broken hair, redness, swelling and, at times, oozing.  </li>
                          </ol>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12">
                    <div class="card white darken-1">
                      <div class="card-content black-text">
                        <span class="card-title" style="color: orangered"> <b> Home Remedies :</b> </span>
                        <ol>
                          <li>
                            <b>Aloe Vera : </b> Aloe Vera plays a significant role in balancing the pH levels of hair and the scalp. Extract the pulp from aloe vera leaf or stalk and rub into your hair. Keep massaging in circular motions. Be sure your hair is already washed before you do this. Then leave it for about 15 minutes, and then rinse with cold water. Repeat this thrice a weak.             
                            </li><br>
                            <li>
                                <b> Amla : </b> One of the probable causes of hair loss is Vitamin C deficiency. Amla is highly rich in Vitamin C, it provides strength to the hair follicles, and thereby prevents hair fall. Boil the dried amla with coconut oil till the oil becomes black. Let it cool down and then massage your hair with this oil. Leave it for 20 minutes and then shampoo your hair as usual. Repeat this twice a week.
                          </li><br>

                          <li>
                            <b>Green Tea : </b> Soak two green tea bags in the hot water and let the water cool down. Then rinse your hair with this solution and keep massaging your scalp gently. 
                          </li> 
                         
                          <li>
                            <b>Massage with Coconut Oil : </b> Coconut oil contains antimicrobial and antioxidants properties that help fight scalp infections and strengthen your hair. Slightly warm coconut oil and start massaging your scalp in circular motions. You can also use olive for similar results.
                          </li>
                            
                        </ol>
                       
                      </div>
                    </div>
                  </div>

             
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card white darken-1">
                        <div class="card-content black-text" id="signindiv">
                       
                          <center>
                              <button class="packeageit" style="background: #546e7a;color: white;">  
                                <i class="material-icons small right">business_center</i>
                                <b>
                                    Buy Medicines
                                </b> </button>
                              
                              <button class="packeageit" > 
                                  <i class="material-icons small right">call</i>  <b>
                                      Online Consultation
                                  </b> 
                                </button>

                                
        
                          </center>

                      <center>
                          <button class="packeageit" >
                              <i class="material-icons small right">add_box</i>  
                            <b>
                                Personal Appointment
                            </b> </button>
  
                      </center>  
                      <div style="background: #FCE2E1;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <ul>
                              <li>
                                <b> 
                              </li>
                              <br>
                              <li>
                                <b>&nbsp;Free 10% discount : </b> 
                                &nbsp;You will get 10% discount on medincines and appoinments when you sign in with google.
                              </li>
                              <br>
                              <li>
                                  <b>&nbsp;We keep it private : </b> &nbsp;Only you will know which medicines you brought and which appoinments you have booked.
                                </li>
                                <br>
                                <li>
                                    <b>&nbsp;Along with the medicine kit, we are going to provide you with some additional things which is beneficial for you.</b>
                                    <ul>
                                      <li>&nbsp;DIET PLAN </li>
                                      <li>&nbsp;YOG & EXCERSICE GUIDE</li>
                                    </ul> 
                                </li>
                            </ul>
                      </div>    <br>
                      <div style="background: #FFFF99;border:3px solid black; border-radius:10px;padding: 10px;color:black;">
                          <ul>
                              <li>
                                <b> 
                              </li>
                              
                              <li>
                                No side effects 
                              </li>
                             
                              <li>
                                  Cure from the roots
                              </li>
                               
                                <li>
                                    Environmental Friendly
                                </li>
                                <li>
                                    No Chemical Ingredients
                                </li>
                                <li>
                                    Result Oriented 
                                </li>
                                <li>
                                    100% Herbal                               
                                </li>
                            </ul>
                      </div>    
                         
                          <br>
                         
                          <div id="topsignindiv">
                              <i style="float:right;cursor: pointer;" id="cancelsigin" class="material-icons" large>cancel</i>
                              <div id="topsignindivinner">
                                  <center>
                                      <p style="color: purple;">You need to sign in with google</p> <br>
                                      <div id="my-signin2" class='g-sign-in-button'>
                                            <div class=content-wrapper>
                                            <div class='logo-wrapper'>  
                                              <img src='https://developers.google.com/identity/images/g-logo.png'>
                                              </div>  
                                              <span class='text-container'> 
                                                <span> Sign in with Google</span>
                                              </span>
                                            </div>  
                                          </div>
                                   
                                  </center>
                                    
                              </div>

                            </div>
                                         
                          <br>
                        </div>
  
                    </div>
                  </div>   

    
                </div>
      
           
                  
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title">About us ...</span> <br>
                            <p> drhealthcart.com is medical website helping patient to cure their diseases which is Completely based on Ayurved. We provide details such as Symptoms, Home Remedies along with medical advice about diseases such as piles,hairfall etc.
                            <br> <br>
                          You can click below link to visit our website ..
                          </p>
                          </div>
                          <div class="card-action">
                            <a style="text-transform: none;font-size: 22px;" href="/">   www.drhealthcart.com </a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>
      <div class="header">
          <p> <i>drhealthcart.com</i> </p>
        </div>      
       
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="dis.js"></script>
   
        <script>
        $(document).ready(function()
{

    
    $("#signinbutton").click(function()
  {
    document.cookie = "redirect=hairfall;";
    window.location.href = "/auth/google?destination=hairfall";    
      })

      $("#my-signin2").click(function()
  {
    document.cookie = "redirect=hairfall;";
    window.location.href = "/auth/google?destination=hairfall";    
      })

      $(".packeageit").click(function()
  {
    $("#topsignindiv").hide();
    $("#topsignindiv").show(1000);
        
    $('html, body').animate(
        {
            scrollBottom: $("#topsignindiv").offset().top
        },
         2000);
    
  }) 


    })
</script>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script>
      $(document).ready(function() {
        $('select').material_select();
      });
     </script>
      
    </body>
  </html>